Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check, npm-workspaces-guard

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/.*\.py$
  typescript-syntax-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: \.(ts|tsx)$
  vue-naming-check: any of: \.vue$
  npm-workspaces-guard: any of: \.(yml|yaml|py|js|json|sh|Makefile)$

[REQ-2025-V4-ARCH] 修复_check_quality方法：支持file_content参数
  .compliance/checkers/code_checker.py
Due: npm-workspaces-guard

[REQ-2025-V4-ARCH] 在容器内安装git并挂载.git目录
  backend/Dockerfile
  docker-compose.yml
Due: npm-workspaces-guard

[REQ-2025-V4-ARCH] 在Dockerfile.dev中添加git安装（修复）
  backend/Dockerfile.dev
Due: none

[REQ-T01-TEST] T01测试场景
  .compliance/checkers/code_checker.py
  backend/apps/test_optimized/views.py
  backend/apps/test_scenario2/views.py
  backend/apps/test_scenario3/views.py
  backend/apps/test_t01/views.py
  backend/tests/unit/test_scenario5.py
  backend/tests/unit/test_t01.py
  docs/00_product/requirements/REQ-2025-TEST-SCENARIO4/REQ-2025-TEST-SCENARIO4.md
  docs/00_product/requirements/REQ-T01-TEST/REQ-T01-TEST.md
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

[REQ-TEST-2025-001] 测试PRD状态检查
  docs/00_product/requirements/REQ-TEST-2025-001/REQ-TEST-2025-001.md
Due: none

feat(compliance): 实现T02/T04/T09检查器 - Task-0自检、测试运行器、PRD状态检查
  .compliance/checkers/__init__.py
  .compliance/checkers/prd_checker.py
  .compliance/checkers/task0_checker.py
  .compliance/checkers/test_runner_checker.py
  .compliance/engine.py
  .compliance/rules/task0.yaml
  .compliance/rules/test_runner.yaml
  docs/00_product/requirements/REQ-TEST-2025-001/REQ-TEST-2025-001.md
  docs/testing/V4_IMPLEMENTATION_COMPLETE_REPORT.md
  docs/testing/V4_TEST_SCENARIOS_T01_T10.md
  scripts/testing/run-t01-t10-tests.sh
  scripts/testing/test-new-checkers.sh
Due: npm-workspaces-guard

fix: 修复pre-commit四层检查缺失第二层和第四层输出的问题
  .husky/pre-commit
  docs/fixes/pre-commit-four-layers-fix.md
Due: none

feat(compliance): Task0和PRD检查器增强
  .compliance/checkers/prd_checker.py
  .compliance/checkers/task0_checker.py
  .compliance/checkers/test_runner_checker.py
  .compliance/engine.py
  .compliance/rules/prd.yaml
  .compliance/rules/task0.yaml
  .compliance/rules/test_runner.yaml
  .cursor/mcp.json
  .git-protection-config
  .taskmaster/config.json
  .taskmaster/tasks/tasks.json
  docs/00_product/requirements/REQ-TEST-2025-001/REQ-TEST-2025-001.md
  docs/architecture/V4/TASK0_AND_PRD_ENHANCEMENT_DESIGN.md
  docs/testing/TASK0_PRD_ENHANCEMENT_IMPLEMENTATION.md
  docs/testing/TASK0_PRD_ENHANCEMENT_QUICK_REF.md
  docs/testing/V4_IMPLEMENTATION_COMPLETE_REPORT.md
  docs/testing/V4_TEST_SCENARIOS_T01_T10.md
  e2e/test-results.json
  scripts/testing/run-t01-t10-tests.sh
  scripts/testing/test-new-checkers.sh
Due: npm-workspaces-guard

fix: 修复合规引擎导入警告
  .compliance/checkers/prd_checker.py
  .compliance/checkers/task0_checker.py
  .compliance/engine.py
  .compliance/rules/prd.yaml
  .cursor/rules/prd-refinement.md
  .env.example
  .env.taskmaster
  .taskmaster/docs/test_prd.txt
  .taskmaster/docs/user-login-raw.txt
  .v4-test-results/new-checkers/TEST_SUMMARY.md
  .v4-test-results/reports/T01-T10-STATUS-SUMMARY.md
  .v4-test-results/reports/optimization-summary.md
  .v4-test-results/reports/test-results-summary-final.md
  .v4-test-results/reports/test-results-summary.md
  .v4-test-results/reports/test-summary-20251201-202947.md
  backend/apps/test_invalid_req.py
  backend/docs/00_product/requirements/REQ-TEST-2025-002/REQ-TEST-2025-002.md
  docker-compose.yml
  docs/architecture/V4/PRD_REFINEMENT_WORKFLOW.md
  docs/architecture/V4/PRD_STATE_MACHINE_DESIGN.md
  docs/architecture/V4/PRD_WORKFLOW_COMPLETE_GUIDE.md
  docs/architecture/V4/TASK0_YAML_CONFIG_FLOW.md
  docs/architecture/V4/TASKMASTER_API_CONFIG.md
  docs/architecture/V4/V4_ACTUAL_TESTING_PLAN.md
  docs/testing/PRD_STATE_MACHINE_IMPLEMENTATION.md
  docs/testing/PRD_WORKFLOW_QUICK_REF.md
  docs/testing/TASK0_IMPLEMENTATION_SUMMARY.md
  docs/testing/TASK0_REQ_ID_EXTRACTION_ISSUE.md
  docs/testing/TASK0_STATUS_REPORT.md
  docs/testing/TASK0_YAML_CONFIG_EXPLAINED.md
  docs/testing/V4_PRE_COMMIT_INTEGRATION_STATUS.md
  scripts/migrate-to-standard-prd.sh
  scripts/refine-prd.sh
  scripts/testing/v4-test-scenarios.sh
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

ci(passport): 增强本地测试通行证验证系统
  scripts-golden/local_test_passport.py
Due: npm-workspaces-guard

feat(compliance): 实现通行证生成的实时输出功能
  scripts-golden/local_test_passport.py
Due: npm-workspaces-guard

feat(prd): 实现PRD状态机验证，只允许approved状态parse
  .git-protection-config
  .taskmaster/docs/test-quick.txt
  backend/coverage.json
  docker-compose.yml
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  docs/architecture/V4/PRD_STATUS_VALIDATION_IMPL.md
  docs/testing/PRD_STATUS_VALIDATION_SUMMARY.md
  docs/testing/PRD_STATUS_VALIDATION_TEST.md
  docs/testing/PRD_STATUS_VALIDATION_USAGE.md
  scripts/task-master-parse-prd.sh
  scripts/task-master/prd_status_validator.py
Due: npm-workspaces-guard

fix(compliance): 修复代码质量问题
  .compliance/checkers/task0_checker.py
  .compliance/engine.py
  .taskmaster/docs/test-validation.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  docker-compose.yml
  scripts/setup-task-master-alias.sh
  scripts/task-master-parse-prd.sh
  scripts/task-master-wrapper.sh
  scripts/task-master/update_tasks_metadata.py
  task-master
Due: npm-workspaces-guard

chore: 提交遗漏的修改和未追踪文件
  .compliance/engine.py
  .cursor/mcp.json
  .taskmaster/tasks/tasks.json
  docs/00_product/requirements/REQ-2025-EXAMPLE-demo/REQ-2025-EXAMPLE-demo.md
  scripts/install-task-master-wrapper.sh
  scripts/task-master-wrapper.sh
  task-master
Due: npm-workspaces-guard

chore: 提交遗漏的修改和未追踪文件
  e2e/test-results.json
Due: npm-workspaces-guard

fix(compliance): 修复_check_tasks_json_prd_status逻辑
  .compliance/checkers/task0_checker.py
Due: npm-workspaces-guard

fix(compliance): 修复engine.py适配Task0Checker返回值格式
  .compliance/engine.py
Due: npm-workspaces-guard

test: PRD状态拦截测试（approved状态）
  .taskmaster/tasks/tasks.json
Due: npm-workspaces-guard

feat(tasks): 添加TDD任务生成和PRD开发方法论
  .compliance/engine.py
  .cursor/mcp.json
  .git-protection-config
  .taskmaster/config.json
  .taskmaster/docs/req-user-login-raw.txt
  .taskmaster/tasks/REQ-2025-003-user-login/task_001_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_002_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_003_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_004_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_005_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_006_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_007_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_008_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_009_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_010_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_011_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_012_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_013_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_014_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_015_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_016_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_017_REQ-2025-003-user-login.md
  .taskmaster/tasks/REQ-2025-003-user-login/task_018_REQ-2025-003-user-login.md
  .taskmaster/tasks/tasks.json
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  e2e/test-results.json
  scripts/test-prd-status-intercept.sh
Due: npm-workspaces-guard

fix(compliance): 修复V4合规检查的REQ-ID格式和路径转换
  .husky/pre-commit
  backend/apps/example/views.py
  backend/apps/test_optimized/views.py
  backend/apps/test_scenario2/views.py
  backend/apps/test_scenario3/views.py
  backend/apps/test_t01/views.py
  backend/tests/integration/test_simple_integration.py
  backend/tests/unit/test_common_pagination.py
  backend/tests/unit/test_common_views.py
  backend/tests/unit/test_scenario5.py
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

fix(compliance): 严格修复所有V4合规问题
  .git-protection-config
  backend/coverage.json
  backend/tests/unit/test_example_views.py
  backend/tests/unit/test_optimized_views.py
  backend/tests/unit/test_scenario2_views.py
  backend/tests/unit/test_scenario3_views.py
  backend/tests/unit/test_t01.py
  backend/tests/unit/test_t01_views.py
  backend/tests/unit/test_users_models.py
  docs/00_product/requirements/REQ-2025-EXAMPLE-demo/REQ-2025-EXAMPLE-demo.md
  docs/00_product/requirements/REQ-2025-TEST-SCENARIO4/REQ-2025-TEST-SCENARIO4.md
  docs/00_product/requirements/REQ-T01-TEST/REQ-T01-TEST.md
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

fix(compliance): 完全修复V4合规问题
  .compliance/checkers/code_checker.py
  .git-protection-config
  .taskmaster/tasks/tasks.json
  backend/coverage.json
  backend/tests/unit/test_example_views.py.bak
  backend/tests/unit/test_optimized_views.py.bak
  backend/tests/unit/test_scenario2_views.py.bak
  backend/tests/unit/test_scenario3_views.py.bak
  backend/tests/unit/test_t01_views.py.bak
  backend/tests/unit/test_views.py
  docs/00_product/requirements/REQ-2025-001-example-demo/REQ-2025-001-example-demo.md
  docs/00_product/requirements/REQ-2025-005-t01-test/REQ-2025-005-t01-test.md
  docs/00_product/requirements/REQ-2025-008-test-scenario4/REQ-2025-008-test-scenario4.md
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

fix(compliance): 创建Task-Master任务目录
  .git-protection-config
  .taskmaster/tasks/REQ-2025-001-internal-example/.gitkeep
  .taskmaster/tasks/REQ-2025-002-internal-test/.gitkeep
  .taskmaster/tasks/REQ-2025-004-internal-test-scenario3/.gitkeep
  .taskmaster/tasks/REQ-2025-005-internal-test-t01/.gitkeep
  .taskmaster/tasks/REQ-2025-006-internal-common/.gitkeep
  .taskmaster/tasks/REQ-2025-007-internal-scenario5/.gitkeep
  .taskmaster/tasks/REQ-2025-008-test-scenario4/.gitkeep
  backend/coverage.json
Due: npm-workspaces-guard

fix(compliance): 支持小写REQ-ID
  .compliance/checkers/code_checker.py
  .git-protection-config
  backend/coverage.json
Due: npm-workspaces-guard

fix(compliance): 修正任务目录命名
  .git-protection-config
  .taskmaster/tasks/REQ-2025-003-internal-test-scenario2/.gitkeep
  .taskmaster/tasks/REQ-2025-007-internal-test-scenario5/.gitkeep
  backend/coverage.json
Due: npm-workspaces-guard
