Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check, npm-workspaces-guard

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/.*\.py$
  typescript-syntax-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: \.(ts|tsx)$
  vue-naming-check: any of: \.vue$
  npm-workspaces-guard: any of: \.(yml|yaml|py|js|json|sh|Makefile)$

fix(deploy): use git reset --hard to avoid merge conflicts on server (#183)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: github-actions-syntax-check, npm-workspaces-guard

test: verify auto-deploy works
  .autodeploy-test
  docker-compose.prod.yml
Due: npm-workspaces-guard

test: verify auto-deploy works (#185)
  .autodeploy-test
  docker-compose.prod.yml
Due: npm-workspaces-guard

fix(deploy): resolve port conflicts and git merge issues
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  backend/.flake8
  docker-compose.prod.yml
  scripts-golden/local_test_passport.py
  scripts/local_test_passport.py
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): resolve port conflicts and git merge issues (#186)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  backend/.flake8
  docker-compose.prod.yml
  scripts-golden/local_test_passport.py
  scripts/local_test_passport.py
Due: github-actions-syntax-check, npm-workspaces-guard

feat(domain): add domain and SSL support
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.prod.yml
  docs/DOMAIN_QUICK_START.md
  docs/DOMAIN_SETUP_GUIDE.md
  frontend/nginx.domain-dev.conf
  frontend/nginx.domain-production.conf
  scripts/setup-ssl.sh
Due: github-actions-syntax-check, npm-workspaces-guard

chore: update email for SSL certificate
  scripts/setup-ssl.sh
Due: npm-workspaces-guard

chore: add server-side SSL setup automation script
  scripts/setup-domain-on-server.sh
Due: npm-workspaces-guard

feat(domain): add domain and SSL certificate support (#187)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.prod.yml
  docs/DOMAIN_QUICK_START.md
  docs/DOMAIN_SETUP_GUIDE.md
  frontend/nginx.domain-dev.conf
  frontend/nginx.domain-production.conf
  scripts/setup-domain-on-server.sh
  scripts/setup-ssl.sh
Due: github-actions-syntax-check, npm-workspaces-guard

fix: correct server paths in setup script
  scripts/setup-domain-on-server.sh
Due: npm-workspaces-guard

fix: correct server paths in setup script (#188)
  scripts/setup-domain-on-server.sh
Due: npm-workspaces-guard

fix: remove www subdomain from SSL cert request
  scripts/fix-ssl-issue.sh
  scripts/setup-ssl-webroot.sh
  scripts/setup-ssl.sh
Due: npm-workspaces-guard

fix: remove www subdomain from SSL cert request (#189)
  scripts/fix-ssl-issue.sh
  scripts/setup-ssl-webroot.sh
  scripts/setup-ssl.sh
Due: npm-workspaces-guard

fix: correct backend proxy port in dev nginx config
  frontend/nginx.domain-dev.conf
Due: none

fix: correct backend proxy port in dev nginx config (#191)
  frontend/nginx.domain-dev.conf
Due: none

fix: add domain support to ALLOWED_HOSTS and CSRF config
  backend/bravo/settings/production.py
  frontend/nginx.ssl.conf
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

fix: add domain support to ALLOWED_HOSTS and CSRF config (#192)
  backend/bravo/settings/production.py
  frontend/nginx.ssl.conf
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

feat: automate SSL configuration in deployment pipeline
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docs/DEPLOYMENT.md
Due: github-actions-syntax-check, npm-workspaces-guard

feat: automate SSL configuration in deployment pipeline (#193)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docs/DEPLOYMENT.md
Due: github-actions-syntax-check, npm-workspaces-guard

feat: 实现完整的镜像推送架构
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.prod.yml
  docs/ALIYUN_REGISTRY_SETUP.md
  docs/DEPLOYMENT.md
Due: github-actions-syntax-check, npm-workspaces-guard

chore: prettier格式化
  .github/workflows/build-and-push-images.yml
  docs/ALIYUN_REGISTRY_SETUP.md
  docs/DEPLOYMENT.md
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 更新镜像仓库地址为深圳个人实例
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.prod.yml
Due: github-actions-syntax-check, npm-workspaces-guard

feat: 实现完整的镜像推送架构 (#194)
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.prod.yml
  docs/ALIYUN_REGISTRY_SETUP.md
  docs/DEPLOYMENT.md
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 移除buildx cache配置（阿里云个人实例不支持）
  .github/workflows/build-and-push-images.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 移除buildx cache配置（阿里云个人实例不支持） (#195)
  .github/workflows/build-and-push-images.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 修复GitHub Secrets在SSH heredoc中不可用的问题
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 修复GitHub Secrets在SSH heredoc中不可用的问题 (#196)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 强制更新Git远程分支信息避免缓存问题
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 强制更新Git远程分支信息避免缓存问题 (#197)
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 修复静态文件加载问题
  docker-compose.prod.yml
Due: npm-workspaces-guard

fix: 修复静态文件加载问题 (#198)
  docker-compose.prod.yml
Due: npm-workspaces-guard

fix(static): 添加静态文件复制调试日志
  docker-compose.prod.yml
Due: npm-workspaces-guard

fix(static): 添加静态文件复制调试日志 (#199)
  docker-compose.prod.yml
Due: npm-workspaces-guard

feat(deploy): 添加静态文件验证步骤
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

feat(deploy): 添加静态文件验证步骤 (#200)
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

debug(deploy): 检查backend镜像内的静态文件
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

debug(deploy): 检查backend镜像内的静态文件 (#201)
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(settings): 修复STATIC_ROOT路径错误
  backend/bravo/settings/production.py
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard
