Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check, npm-workspaces-guard

python-naming-check:
  name: Python Naming Convention Check
  entry: python -m flake8 --select=N --config=backend/.flake8 backend/
  language: system
  pass_filenames: false

python-pylint-naming:
  name: Python Pylint Naming Check
  ...

typescript-syntax-check:
  name: TypeScript Syntax Check
  entry: sh -c 'echo "检查E2E TypeScript..." && cd e2e && npm run type-check && echo "E2E TypeScript语法检查通过"'
  language: system
  pass_filenames: true

github-actions-syntax-check:
  name: GitHub Actions Workflow Syntax Check
  entry: sh -c 'echo "检查workflow语法..." && find .github/workflows -name "*.yml" -o -name "*.yaml" | xargs -I {} python -c "import yaml; yaml.safe_load(open(\"{}\", \"r\", encoding=\"utf-8\"))" && echo "语法检查通过"'
  language: system
  pass_filenames: false

typescript-naming-check:
  name: TypeScript Naming Convention Check
  entry: sh -c 'echo "✅ TypeScript检查通过"'
  language: system

vue-naming-check:
  name: Vue Naming Convention Check
  entry: sh -c 'echo "✅ Vue检查通过"'
  language: system

npm-workspaces-guard:
  name: NPM Workspaces Architecture Guard
  entry: python scripts/check_npm_workspaces.py
  language: system
  pass_filenames: true
  description: 检查npm workspaces架构违规，防止子目录npm ci/install调用

fix(security): 完成git-interceptor的密码验证统一
  scripts/git-interceptor
Due: none

fix(security): 完成git-interceptor的密码验证统一 (#226)
  scripts/git-interceptor
Due: none

feat(release): sync dev to main - password system and fixes
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .gitignore
  docs/DEPLOYMENT_ROLLBACK_IMPLEMENTATION.md
  docs/GIT_PROTECTION_SCENARIOS_ANALYSIS.md
  docs/ROLLBACK_MECHANISM_TEST_REPORT.md
  docs/SSL_PORT_CONFIGURATION_FIX.md
  docs/SSL_ROUTING_INVESTIGATION_REPORT.md
  frontend/nginx.domain-dev.conf
  scripts-golden/encrypted_auth_system.sh
  scripts-golden/git-guard.sh
  scripts-golden/timeout_input_helper.sh
  scripts/git-interceptor
Due: github-actions-syntax-check, npm-workspaces-guard

feat(release): sync dev to main - password system and fixes (#227)
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .gitignore
  docs/DEPLOYMENT_ROLLBACK_IMPLEMENTATION.md
  docs/GIT_PROTECTION_SCENARIOS_ANALYSIS.md
  docs/ROLLBACK_MECHANISM_TEST_REPORT.md
  docs/SSL_PORT_CONFIGURATION_FIX.md
  docs/SSL_ROUTING_INVESTIGATION_REPORT.md
  frontend/nginx.domain-dev.conf
  scripts-golden/encrypted_auth_system.sh
  scripts-golden/git-guard.sh
  scripts-golden/timeout_input_helper.sh
  scripts/git-interceptor
Due: github-actions-syntax-check, npm-workspaces-guard

fix(precommit): 修复pre-commit检查的乱码和重复输出问题
  .code-quality-config.yaml
  frontend/.prettierrc
  scripts/check_npm_workspaces.py
  scripts/local_test_passport.py
  scripts/protect_golden_scripts.py
Due: npm-workspaces-guard

fix(precommit): 修复post-commit hook的中文乱码和Node.js错误输出
  .husky/post-commit
  scripts/code_change_tracker.py
Due: npm-workspaces-guard

fix(precommit): 修复pre-commit检查的乱码和重复输出问题 (#228)
  .code-quality-config.yaml
  .husky/post-commit
  frontend/.prettierrc
  scripts/check_npm_workspaces.py
  scripts/code_change_tracker.py
  scripts/local_test_passport.py
  scripts/protect_golden_scripts.py
Due: npm-workspaces-guard

feat(release): 合并dev到main - Pre-commit修复和密码验证改进 (#229)
  .auth-config
  .code-quality-config.yaml
  .husky/post-commit
  frontend/.prettierrc
  scripts/check_npm_workspaces.py
  scripts/code_change_tracker.py
  scripts/local_test_passport.py
  scripts/protect_golden_scripts.py
Due: npm-workspaces-guard

fix(deploy): 为dev环境添加真正的自动回滚机制
  .github/workflows/deploy-dev.yml
  docs/DEPLOY_DEV_ROLLBACK_IMPLEMENTATION.md
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 为dev环境添加真正的自动回滚机制 (#230)
  .github/workflows/deploy-dev.yml
  docs/DEPLOY_DEV_ROLLBACK_IMPLEMENTATION.md
Due: github-actions-syntax-check, npm-workspaces-guard

feat(deploy): 为dev环境添加真正的自动回滚机制
  .github/workflows/deploy-dev.yml
  docs/DEPLOY_DEV_ROLLBACK_IMPLEMENTATION.md
Due: github-actions-syntax-check, npm-workspaces-guard

feat(deploy): 为dev环境添加真正的自动回滚机制 (#232)
  .github/workflows/deploy-dev.yml
  docs/DEPLOY_DEV_ROLLBACK_IMPLEMENTATION.md
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 修复workflow_run触发时checkout旧代码的问题
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 修复workflow_run触发时checkout旧代码导致部署失败 (#233)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 修复部署工作流checkout旧代码问题 (#234)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: github-actions-syntax-check, npm-workspaces-guard

feat(file-mgmt): 添加deletable文件生命周期管理系统
  .code-quality-config.yaml
  docs/FILE_LIFECYCLE_GUIDE.md
  scripts/cleanup_deletable_files.py
  scripts/file_metadata_checker.py
  scripts/scan_deletable_files.py
Due: npm-workspaces-guard

feat(file-mgmt): 添加deletable文件生命周期管理系统 (#235)
  .code-quality-config.yaml
  docs/FILE_LIFECYCLE_GUIDE.md
  scripts/cleanup_deletable_files.py
  scripts/file_metadata_checker.py
  scripts/scan_deletable_files.py
Due: npm-workspaces-guard

feat(file-mgmt): 合并deletable文件管理系统到main (#236)
  .code-quality-config.yaml
  docs/FILE_LIFECYCLE_GUIDE.md
  scripts/cleanup_deletable_files.py
  scripts/file_metadata_checker.py
  scripts/scan_deletable_files.py
Due: npm-workspaces-guard

feat(docker): 添加docker-compose文件数量限制守护
  .code-quality-config.yaml
  scripts/check_docker_compose_limit.py
Due: npm-workspaces-guard

feat(docker): 添加docker-compose文件数量限制守护 (#237)
  .code-quality-config.yaml
  scripts/check_docker_compose_limit.py
Due: npm-workspaces-guard

feat(docker): 添加docker-compose文件数量限制守护 (#237) (#239)
  .code-quality-config.yaml
  scripts/check_docker_compose_limit.py
Due: npm-workspaces-guard

docs: 添加AI驱动开发工作流完整设计方案
  docs/01_guideline/2025-10-22-AI驱动开发工作流完整设计方案.md
Due: none

feat: 添加V4架构设计方案和Task Master配置
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/hamster.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .git-protection-config
  .gitignore
  .taskmaster/AGENT.md
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/docs/test_prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  .taskmaster/templates/example_prd_rpg.txt
  docs/01_guideline/TASK_MASTER_PROVIDERS_CONFIG.md
  docs/01_guideline/TASK_MASTER_QUICK_START.md
  docs/01_guideline/TASK_MASTER_SETUP.md
  docs/architecture/ADR-001-npm-workspaces.md
  docs/architecture/V4/AI-WORKFLOW-V4-APPENDIX-QA.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART1-ARCH.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART2-TM-ADAPTER.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART3-PRD-TRD.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART4-TDD-TEST.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART5-COMPLIANCE.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART6-IMPL.md
  docs/architecture/V4/AI-WORKFLOW-V4-README.md
  docs/architecture/V4/TASK-MASTER-RESEARCH.md
  docs/architecture/V4/V4-CORRECTIONS-SUMMARY.md
  docs/architecture/cursor-git-no-verify-fix.md
  docs/architecture/health-report-20250923_085141.json
Due: npm-workspaces-guard

fix: 修复npm依赖安全漏洞
  package-lock.json
Due: npm-workspaces-guard

fix: 降低文档/配置PR的覆盖率要求并清理冗余文件
  .github/workflows/pr-validation.yml
Due: github-actions-syntax-check, npm-workspaces-guard

docs: 添加V4架构设计方案和Task Master配置 (#241)
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/hamster.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .git-protection-config
  .github/workflows/pr-validation.yml
  .gitignore
  .taskmaster/AGENT.md
  .taskmaster/CLAUDE.md
  .taskmaster/config.json
  .taskmaster/docs/test_prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  .taskmaster/templates/example_prd_rpg.txt
  docs/01_guideline/TASK_MASTER_PROVIDERS_CONFIG.md
  docs/01_guideline/TASK_MASTER_QUICK_START.md
  docs/01_guideline/TASK_MASTER_SETUP.md
  docs/architecture/ADR-001-npm-workspaces.md
  docs/architecture/V4/AI-WORKFLOW-V4-APPENDIX-QA.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART1-ARCH.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART2-TM-ADAPTER.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART3-PRD-TRD.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART4-TDD-TEST.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART5-COMPLIANCE.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART6-IMPL.md
  docs/architecture/V4/AI-WORKFLOW-V4-README.md
  docs/architecture/V4/TASK-MASTER-RESEARCH.md
  docs/architecture/V4/V4-CORRECTIONS-SUMMARY.md
  docs/architecture/cursor-git-no-verify-fix.md
  docs/architecture/health-report-20250923_085141.json
  package-lock.json
Due: github-actions-syntax-check, npm-workspaces-guard

docs: 添加分支保护规则更新说明文档
  docs/architecture/BRANCH_PROTECTION_UPDATE_EXPLANATION.md
Due: none

[REQ-2025-V4-ARCH] 修复V4合规引擎容器检查逻辑
  .compliance/__init__.py
  .compliance/checkers/__init__.py
  .compliance/checkers/code_checker.py
  .compliance/checkers/commit_checker.py
  .compliance/checkers/prd_checker.py
  .compliance/checkers/task_checker.py
  .compliance/checkers/test_checker.py
  .compliance/config.yaml
  .compliance/engine.py
  .compliance/rules/code.yaml
  .compliance/rules/commit.yaml
  .compliance/rules/prd.yaml
  .compliance/rules/task.yaml
  .compliance/rules/test.yaml
  .compliance/runner.py
  .husky/commit-msg
  .husky/pre-commit
  docs/00_product/requirements/REQ-2025-EXAMPLE-demo/REQ-2025-EXAMPLE-demo.md
  docs/01_guideline/api-contracts/REQ-2025-EXAMPLE-demo/api.yaml
  docs/architecture/V4/V4_IMPLEMENTATION_PLAN.md
  docs/architecture/V4/V4_IMPLEMENTATION_STATUS.md
  docs/architecture/V4/V4_IMPLEMENTATION_SUMMARY.md
  docs/architecture/V4/V4_PHASE2_COMPLETE.md
  docs/architecture/V4/V4_PHASE3_COMPLETE.md
  docs/architecture/V4/V4_PHASE4_COMPLETE.md
  docs/architecture/V4/V4_PHASE5_COMPLETE.md
  docs/architecture/V4/V4_PHASE6_COMPLETE.md
  docs/architecture/V4/V4_STEP_BY_STEP_GUIDE.md
  docs/architecture/V4/V4_USAGE_GUIDE.md
  scripts/setup/verify_installation.sh
  scripts/task-master/adapter.py
  scripts/task-master/sync_status.py
Due: npm-workspaces-guard

[REQ-2025-V4-ARCH] 代码格式化和换行符统一
  .git-protection-config
  .github/workflows/pr-validation.yml
  .github/workflows/push-validation.yml
  .husky/post-commit
  backend/bravo/urls_test.py
  backend/tests/integration/test_simple_integration.py
  backend/tests/quick.py
  backend/tests/test_apps_urls.py
  backend/tests/test_regression.py
  backend/tests/unit/test_common_pagination.py
  backend/tests/unit/test_common_views.py
  backend/tests/unit/test_users_models.py
  docs/00_product/requirements/REQ-2025-EXAMPLE-demo/REQ-2025-EXAMPLE-demo.md
  docs/01_guideline/api-contracts/REQ-2025-EXAMPLE-demo/api.yaml
  docs/architecture/V4/V4_IMPLEMENTATION_PLAN.md
  docs/architecture/V4/V4_IMPLEMENTATION_STATUS.md
  docs/architecture/V4/V4_IMPLEMENTATION_SUMMARY.md
  docs/architecture/V4/V4_PHASE2_COMPLETE.md
  docs/architecture/V4/V4_PHASE3_COMPLETE.md
  docs/architecture/V4/V4_PHASE4_COMPLETE.md
  docs/architecture/V4/V4_PHASE5_COMPLETE.md
  docs/architecture/V4/V4_PHASE6_COMPLETE.md
  docs/architecture/V4/V4_STEP_BY_STEP_GUIDE.md
  docs/architecture/V4/V4_USAGE_GUIDE.md
  scripts/setup/verify_installation.sh
Due: python-naming-check, python-pylint-naming, github-actions-syntax-check, npm-workspaces-guard

[REQ-2025-V4-ARCH] 完善docker-compose配置：挂载合规引擎目录
  docker-compose.yml
Due: npm-workspaces-guard

[REQ-2025-V4-ARCH] 完善V4合规引擎核心约束检查
  .compliance/checkers/code_checker.py
  .compliance/rollback.py
  docs/architecture/V4/V4_COMPLIANCE_TEST_PLAN.md
  docs/architecture/V4/V4_IMPLEMENTATION_VERIFICATION.md
Due: npm-workspaces-guard

[REQ-2025-V4-ARCH] 添加V4架构最终状态报告
  docs/architecture/V4/V4_FINAL_STATUS.md
Due: none

[REQ-2025-V4-ARCH] 文档格式修复
  docs/architecture/V4/V4_COMPLIANCE_TEST_PLAN.md
  docs/architecture/V4/V4_IMPLEMENTATION_VERIFICATION.md
Due: none

[REQ-2025-V4-ARCH] 完成CI/CD自动回滚集成
  .github/workflows/push-validation.yml
Due: github-actions-syntax-check, npm-workspaces-guard

[REQ-2025-V4-ARCH] 改进PR验证中的合规检查错误提示
  .github/workflows/pr-validation.yml
Due: github-actions-syntax-check, npm-workspaces-guard

[REQ-2025-V4-ARCH] 修复容器内模块导入：支持从文件系统直接导入检查器
  .compliance/engine.py
  .compliance/runner.py
  .husky/pre-commit
  backend/apps/example/views.py
  scripts/protect_golden_scripts.py
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

[REQ-2025-TEST] 测试缺少PRD关联
  .compliance/checkers/code_checker.py
  .compliance/engine.py
Due: npm-workspaces-guard

[REQ-2025-TEST] 测试缺少PRD关联
  .compliance/engine.py
Due: npm-workspaces-guard

[REQ-2025-TEST] 测试缺少PRD关联
  .compliance/checkers/code_checker.py
Due: npm-workspaces-guard

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/.*\.py$
  typescript-syntax-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: \.(ts|tsx)$
  vue-naming-check: any of: \.vue$
  npm-workspaces-guard: any of: \.(yml|yaml|py|js|json|sh|Makefile)$
