Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/(apps|tests)/.*\.py$
  typescript-syntax-check: any of: \.(ts|tsx|vue|json)$, but not: node_modules
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  vue-naming-check: any of: ^frontend/src/.*\.vue$

feat(cursorrules): MILESTONE-v1.0 完成30轮CI修复方法论总结
  .cursorrules
Due: none

��� MILESTONE v1.0: 30轮CI修复完整胜利 - .cursorrules革命性升级 (#94)
  .cursorrules
  docs/FUCKING_CI.md
Due: none

chore(clean): MILESTONE v2.0 阶段1缓存和临时文件清理
  docs/FUCKING_CLEAN.md
Due: none

chore(clean): 阶段1B安全内容清理-修正版
  docs/FUCKING_CLEAN.md
Due: none

chore(clean): 阶段1B安全内容清理-修正版 (#96)
  docs/FUCKING_CLEAN.md
Due: none

docs(clean): 更新阶段1B成功记录和阶段2分析
  docs/FUCKING_CLEAN.md
Due: none

refactor(deps): 清理frontend中未使用的Storybook依赖
  frontend/package.json
Due: typescript-syntax-check

feat(milestone): MILESTONE v2.0激进清理策略完全成功
  backend/Dockerfile.dev.backup
  backend/requirements/base.txt.backup
  backend/requirements/local.txt.backup
  backend/requirements/test.txt.backup
  docs/FUCKING_CLEAN.md
  e2e/package.json.backup
  frontend/Dockerfile.dev
  frontend/package.json.backup
  package-lock.json
  package.json.backup
  rollback_aggressive_cleanup.sh
Due: typescript-syntax-check

fix(workflow): 修复test-e2e-smoke.yml的@playwright/test模块解析问题
  .github/workflows/test-e2e-smoke.yml
  docs/FUCKING_CLEAN.md
  e2e/test-results.json
Due: typescript-syntax-check, github-actions-syntax-check

fix(workflow): 强制安装workspaces依赖解决@playwright/test缓存问题
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

fix(workflow): 基于深入诊断的npm workspaces问题精确修复
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

fix(workflow): 最终修复 - 使用npx替代直接调用playwright binary
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

docs(clean): 记录PR #98 CI修复史诗级技术突破过程
  docs/FUCKING_CLEAN.md
  e2e/tsconfig.json
Due: typescript-syntax-check

fix(workflow): 第4轮修复e2e-smoke配置文件import问题
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

fix(ci): 第5轮修复 - 解决playwright.config.ts模块解析问题
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

docs(clean): 更新FUCKING_CLEAN.md第4-5轮修复记录
  docs/FUCKING_CLEAN.md
Due: none

fix(e2e): 第7轮修复 - 根目录添加@playwright/test依赖解决模块解析
  package.json
Due: typescript-syntax-check

fix(ci): 清理工作流代码冲突，移除第5轮修复残留代码
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  docs/FUCKING_CLEAN.md
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 添加@playwright/test安装调试信息，诊断npm workspaces依赖问题
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

chore(workspace): 清理调试过程中创建的临时文件和缓存
  .gitignore
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check

fix(ci): 应用FUCKING_CI.md历史解决方案 - 自给自足容器架构修复E2E测试
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

fix(ci): 修复GitHub Actions中docker-compose命令不存在的问题
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 修正逻辑矛盾，恢复宿主机依赖安装基于历史成功案例
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 修复vue-tsc检查破坏@playwright/test依赖问题
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 第13轮修复 - 恢复被frontend npm ci意外删除的@playwright/test依赖
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

docs: 记录第13轮修复史诗级成功 - npm workspaces deduped问题彻底解决
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  docs/FAQ.md
  docs/FUCKING_CLEAN.md
Due: typescript-syntax-check

chore: 最终同步 - 完成MILESTONE v2.0项目瘦身PR合并准备
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  package-lock.json
Due: typescript-syntax-check

perf(ci): 优化CI性能 - 将项目依赖安装从npm install改为npm ci
  .github/workflows/branch-protection.yml
  .github/workflows/feature-map.yml
  .github/workflows/gate.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration.yml
Due: github-actions-syntax-check

hotfix: 恢复E2E工作流中的npm install - 修复E2E测试失败
  .github/workflows/test-e2e.yml
Due: github-actions-syntax-check

hotfix: 完整修复E2E工作流 - 补充遗漏的test-e2e-smoke.yml
  .github/workflows/test-e2e-smoke.yml
Due: github-actions-syntax-check

fix(ci): 修复npm workspaces依赖安装顺序问题
  .backup/workflows/backup_20250922_170124/README.md
  .backup/workflows/backup_20250922_170124/branch-protection.yml
  .backup/workflows/backup_20250922_170124/cache-strategy.yml
  .backup/workflows/backup_20250922_170124/dir_guard.yml
  .backup/workflows/backup_20250922_170124/fast-validation.yml
  .backup/workflows/backup_20250922_170124/feature-map.yml
  .backup/workflows/backup_20250922_170124/gate.yml
  .backup/workflows/backup_20250922_170124/golden-test-protection.yml
  .backup/workflows/backup_20250922_170124/main-release.yml
  .backup/workflows/backup_20250922_170124/on-merge-dev-optimized.yml
  .backup/workflows/backup_20250922_170124/on-merge-dev.yml
  .backup/workflows/backup_20250922_170124/on-merge-main.yml
  .backup/workflows/backup_20250922_170124/on-pr.yml
  .backup/workflows/backup_20250922_170124/on-push-dev.yml
  .backup/workflows/backup_20250922_170124/on-push-feature.yml
  .backup/workflows/backup_20250922_170124/pr-validation.yml
  .backup/workflows/backup_20250922_170124/quality-coverage.yml
  .backup/workflows/backup_20250922_170124/quality-performance.yml
  .backup/workflows/backup_20250922_170124/quality-security.yml
  .backup/workflows/backup_20250922_170124/regression-scheduled.yml
  .backup/workflows/backup_20250922_170124/setup-cache.yml
  .backup/workflows/backup_20250922_170124/temp_script.sh
  .backup/workflows/backup_20250922_170124/test-backend.yml
  .backup/workflows/backup_20250922_170124/test-e2e-full.yml
  .backup/workflows/backup_20250922_170124/test-e2e-smoke.yml
  .backup/workflows/backup_20250922_170124/test-e2e.yml
  .backup/workflows/backup_20250922_170124/test-frontend.yml
  .backup/workflows/backup_20250922_170124/test-integration.yml
  .backup/workflows/backup_20250922_170124/test-regression.yml
  .backup/workflows/backup_20250922_170124/test-unit-backend.yml
  .backup/workflows/backup_20250922_170124/test-unit-frontend.yml
  e2e/test-results.json
Due: typescript-syntax-check

fix(ci): 修复npm workspaces依赖安装顺序问题 (#103)
  .backup/workflows/backup_20250922_170124/README.md
  .backup/workflows/backup_20250922_170124/branch-protection.yml
  .backup/workflows/backup_20250922_170124/cache-strategy.yml
  .backup/workflows/backup_20250922_170124/dir_guard.yml
  .backup/workflows/backup_20250922_170124/fast-validation.yml
  .backup/workflows/backup_20250922_170124/feature-map.yml
  .backup/workflows/backup_20250922_170124/gate.yml
  .backup/workflows/backup_20250922_170124/golden-test-protection.yml
  .backup/workflows/backup_20250922_170124/main-release.yml
  .backup/workflows/backup_20250922_170124/on-merge-dev-optimized.yml
  .backup/workflows/backup_20250922_170124/on-merge-dev.yml
  .backup/workflows/backup_20250922_170124/on-merge-main.yml
  .backup/workflows/backup_20250922_170124/on-pr.yml
  .backup/workflows/backup_20250922_170124/on-push-dev.yml
  .backup/workflows/backup_20250922_170124/on-push-feature.yml
  .backup/workflows/backup_20250922_170124/pr-validation.yml
  .backup/workflows/backup_20250922_170124/quality-coverage.yml
  .backup/workflows/backup_20250922_170124/quality-performance.yml
  .backup/workflows/backup_20250922_170124/quality-security.yml
  .backup/workflows/backup_20250922_170124/regression-scheduled.yml
  .backup/workflows/backup_20250922_170124/setup-cache.yml
  .backup/workflows/backup_20250922_170124/temp_script.sh
  .backup/workflows/backup_20250922_170124/test-backend.yml
  .backup/workflows/backup_20250922_170124/test-e2e-full.yml
  .backup/workflows/backup_20250922_170124/test-e2e-smoke.yml
  .backup/workflows/backup_20250922_170124/test-e2e.yml
  .backup/workflows/backup_20250922_170124/test-frontend.yml
  .backup/workflows/backup_20250922_170124/test-integration.yml
  .backup/workflows/backup_20250922_170124/test-regression.yml
  .backup/workflows/backup_20250922_170124/test-unit-backend.yml
  .backup/workflows/backup_20250922_170124/test-unit-frontend.yml
  e2e/test-results.json
Due: typescript-syntax-check

fix(ci): 彻底消除npm install滥用 - 终结30轮修复恶性循环
  .cursorrules
  .github/workflows/branch-protection.yml
  .github/workflows/feature-map.yml
  .github/workflows/main-release.yml
  .github/workflows/on-merge-dev.yml
  .github/workflows/on-merge-main.yml
  .github/workflows/quality-coverage.yml
  .github/workflows/quality-performance.yml
  .github/workflows/quality-security.yml
  .github/workflows/test-e2e-smoke.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  docs/FAQ.md
  package-lock.json
  package.json
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 基于npm workspaces正确理解修正架构问题
  .github/workflows/on-push-feature.yml
  .github/workflows/quality-security.yml
  .github/workflows/setup-cache.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-integration.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 彻底解决npm workspaces依赖破坏问题 - 30轮修复真相大白
  .github/workflows/setup-cache.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-integration.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check, github-actions-syntax-check

fix(architecture): 彻底理解并解决npm workspaces依赖冲突问题
  .github/workflows/main-release.yml
  .github/workflows/on-merge-main.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  package-lock.json
  package.json
Due: typescript-syntax-check, github-actions-syntax-check

docs(architecture): 完善npm workspaces架构级深度洞察文档
  .cursorrules
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  docs/FAQ.md
  package.json
Due: typescript-syntax-check

fix(ci): 彻底消除剩余npm workspaces违规 - 完美符合架构原则
  .cursorrules
  .github/workflows/branch-protection.yml
  .github/workflows/fast-validation.yml
  .github/workflows/on-push-feature.yml
  .github/workflows/quality-performance.yml
  .github/workflows/setup-cache.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  docs/FAQ.md
  package.json
Due: typescript-syntax-check, github-actions-syntax-check

fix(format): 修复prettier格式化和文件结尾问题
  .github/actions/setup-cached-env/action.yml
  .github/actions/setup-fast-env/action.yml
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check

fix(format): 修复prettier格式化问题
  Makefile
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  package.json
  scripts/lighthouse.sh
  scripts/local_github_actions.py
  scripts/run_github_actions_simulation.sh
Due: typescript-syntax-check
