Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check, npm-workspaces-guard

python-naming-check:
  name: Python Naming Convention Check
  entry: python -m flake8 --select=N --config=backend/.flake8 backend/
  language: system
  pass_filenames: false

python-pylint-naming:
  name: Python Pylint Naming Check
  ...

typescript-syntax-check:
  name: TypeScript Syntax Check
  entry: sh -c 'echo "检查E2E TypeScript..." && cd e2e && npm run type-check && echo "E2E TypeScript语法检查通过"'
  language: system
  pass_filenames: true

github-actions-syntax-check:
  name: GitHub Actions Workflow Syntax Check
  entry: sh -c 'echo "检查workflow语法..." && find .github/workflows -name "*.yml" -o -name "*.yaml" | xargs -I {} python -c "import yaml; yaml.safe_load(open(\"{}\", \"r\", encoding=\"utf-8\"))" && echo "语法检查通过"'
  language: system
  pass_filenames: false

typescript-naming-check:
  name: TypeScript Naming Convention Check
  entry: sh -c 'echo "✅ TypeScript检查通过"'
  language: system

vue-naming-check:
  name: Vue Naming Convention Check
  entry: sh -c 'echo "✅ Vue检查通过"'
  language: system

npm-workspaces-guard:
  name: NPM Workspaces Architecture Guard
  entry: python scripts/check_npm_workspaces.py
  language: system
  pass_filenames: true
  description: 检查npm workspaces架构违规，防止子目录npm ci/install调用

fix(deploy): 修复bash语法错误，添加缺失的fi语句
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 修复bash语法错误，添加缺失的fi语句 (#299)
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 删除多余的git操作，纯镜像部署不需要拉取代码
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 动态checkout，适配workflow_run
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(deploy): 动态checkout适配workflow_run (#301)
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

chore(test-passport): 扩充测试覆盖到前端单测与后端集成
  scripts-golden/local_test_passport.py
Due: npm-workspaces-guard

chore(ui): tweak login copy
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docs/analysis/deploy-issues-analysis.md
  docs/analysis/workflow-architecture-improvements.md
  docs/analysis/workflow-run-headbranch-issue.md
  frontend/src/views/Login.vue
  scripts-golden/local_test_passport.py
Due: typescript-syntax-check, github-actions-syntax-check, vue-naming-check, npm-workspaces-guard

chore(ui): tweak login copy second
  frontend/src/views/Login.vue
Due: typescript-syntax-check, vue-naming-check

chore(ci): fix deploy-dev head-sha
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

chore(ci): fix deploy-dev default boolean
  .github/workflows/deploy-dev.yml
Due: github-actions-syntax-check, npm-workspaces-guard

chore(ci): fix deploy-dev head-sha (#302)
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docs/analysis/deploy-issues-analysis.md
  docs/analysis/workflow-architecture-improvements.md
  docs/analysis/workflow-run-headbranch-issue.md
  frontend/src/views/Login.vue
  scripts-golden/local_test_passport.py
Due: typescript-syntax-check, github-actions-syntax-check, vue-naming-check, npm-workspaces-guard

chore(ci): trigger dev build
  .trigger
Due: none

[REQ-2025-003] 优化登录页面Glassmorphism设计样式
  frontend/index.html
  frontend/src/components/auth/Captcha.vue
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm-glass.spec.ts
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
  frontend/src/views/Login.spec.ts
  frontend/src/views/Login.vue
  frontend/src/views/__tests__/Login.spec.ts
Due: typescript-syntax-check, typescript-naming-check, vue-naming-check

refactor: 强化规则约束和测试用例完整性
  .compliance/checkers/prd_checker.py
  .compliance/checkers/task0_checker.py
  .compliance/checkers/test_checker.py
  .compliance/config.yaml
  .compliance/engine.py
  .compliance/rules/prd.yaml
  .cursor/mcp.json
  .cursor/rules/principles/v4-core.mdc
  .cursor/rules/roles/tester.mdc
  .cursor/rules/workflows/documentation.mdc
  .cursor/rules/workflows/prd-design.mdc
  .cursor/rules/workflows/task-generation.mdc
  .cursor/rules/workflows/testing.mdc
  .cursorrules
  .git-protection-config
  backend/tests/integration/test_captcha_api.py
  backend/tests/integration/test_email_verification_api.py
  backend/tests/integration/test_login_api.py
  backend/tests/integration/test_password_reset.py
  backend/tests/integration/test_preview_throttling.py
  backend/tests/integration/test_register_api.py
  backend/tests/integration/test_token_api.py
  backend/tests/unit/test_auth_models.py
  backend/tests/unit/test_auth_preview.py
  backend/tests/unit/test_captcha.py
  backend/tests/unit/test_t01.py
  backend/tests/unit/test_views.py
  docs/00_product/requirements/REQ-2025-001-example-demo/REQ-2025-001-example-demo.md
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login-test-cases.csv
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  docs/00_product/requirements/REQ-2025-005-t01-test/REQ-2025-005-t01-test.md
  docs/00_product/requirements/REQ-2025-008-test-scenario4/REQ-2025-008-test-scenario4.md
  docs/architecture/V4/AI-WORKFLOW-V4-PART4-TDD-TEST.md
  e2e/tests/auth/test-email-verification.spec.ts
  e2e/tests/auth/test-login-preview.spec.ts
  e2e/tests/auth/test-password-reset.spec.ts
Due: python-naming-check, python-pylint-naming, typescript-naming-check, npm-workspaces-guard

[REQ-2025-003] 添加Figma设计规范到PRD并更新测试用例
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login-test-cases.csv
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: none

[REQ-2025-003] TDD红色阶段：编写UI设计规范E2E测试
  .taskmaster/tasks/tasks.json
  e2e/tests/auth/test-ui-design.spec.ts
Due: typescript-naming-check, npm-workspaces-guard

[REQ-2025-003] TDD绿色阶段：按照Figma设计规范实现登录页面UI
  .taskmaster/tasks/tasks.json
  frontend/src/assets/styles/brand-colors.css
  frontend/src/components/auth/BrandSection.vue
  frontend/src/components/auth/Captcha.vue
  frontend/src/components/auth/FloatingInput.vue
  frontend/src/components/auth/LoginForm.vue
  frontend/src/views/Login.vue
Due: typescript-syntax-check, vue-naming-check, npm-workspaces-guard

refactor: 补充测试用例评审工作流核心文件
  .compliance/checkers/testcase_checker.py
  .compliance/rules/testcase.yaml
  .cursor/rules/workflows/testcase-design.mdc
  docs/templates/testcase-review-checklist.md
  docs/templates/testcase-template.csv
Due: npm-workspaces-guard

[REQ-2025-003] 修复反向检查：挂载e2e和frontend目录；补充TC-AUTH_PREVIEW-002用例ID到test_auth_preview.py
  .compliance/checkers/code_checker.py
  .compliance/checkers/prd_checker.py
  .compliance/checkers/test_checker.py
  .git-protection-config
  .gitignore
  .husky/pre-commit
  backend/tests/integration/test_captcha_api.py
  backend/tests/integration/test_email_verification_api.py
  backend/tests/integration/test_login_api.py
  backend/tests/integration/test_password_reset.py
  backend/tests/integration/test_preview_throttling.py
  backend/tests/integration/test_register_api.py
  backend/tests/integration/test_token_api.py
  backend/tests/unit/test_auth_models.py
  backend/tests/unit/test_auth_preview.py
  backend/tests/unit/test_captcha.py
  docker-compose.yml
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login-test-cases.csv
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  e2e/tests/auth/test-captcha-realtime-validation.spec.ts
  e2e/tests/auth/test-email-verification.spec.ts
  e2e/tests/auth/test-login-preview.spec.ts
  e2e/tests/auth/test-password-reset.spec.ts
  e2e/tests/auth/test-preview-ui-details.spec.ts
  e2e/tests/auth/test-register-accessibility.spec.ts
  e2e/tests/auth/test-ui-design.spec.ts
  scripts/check-test-traceability.py
Due: python-naming-check, python-pylint-naming, typescript-naming-check, npm-workspaces-guard

[REQ-2025-003] Debug: 修复相关问题并优化代码（合规检查器、用户认证、登录表单、E2E测试）
  .git-protection-config
  backend/apps/users/serializers.py
  backend/apps/users/utils.py
  backend/apps/users/views.py
  docs/00_product/requirements/REQ-2025-003-user-login/TEST-GAP-ANALYSIS.md
  e2e/tests/auth/test-captcha-lifecycle.spec.ts
  e2e/tests/infrastructure/test-environment-config.spec.ts
  frontend/src/components/auth/LoginForm.vue
Due: python-naming-check, python-pylint-naming, typescript-syntax-check, typescript-naming-check, vue-naming-check, npm-workspaces-guard

[REQ-2025-003] 修复前端单元测试：路由测试、LoginForm测试、Captcha测试
  e2e/tests/infrastructure/test-environment-config.spec.ts
  frontend/src/components/auth/__tests__/Captcha.spec.ts
  frontend/src/components/auth/__tests__/LoginForm-glass.spec.ts
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
  frontend/src/router/index.spec.ts
Due: typescript-syntax-check, typescript-naming-check

[REQ-2025-003] 修复所有前端单元测试：更新选择器、添加mock、修复Vue内部错误（199个测试全部通过）
  frontend/src/components/auth/__tests__/Captcha.spec.ts
  frontend/src/components/auth/__tests__/LoginForm-glass.spec.ts
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
  frontend/src/router/index.spec.ts
  frontend/src/views/__tests__/Login.spec.ts
  frontend/src/views/__tests__/VerifyEmailView.spec.ts
Due: typescript-syntax-check, typescript-naming-check

[REQ-2025-003] 为前端单元测试文件添加TestCase-ID注释，关联测试用例列表
  frontend/src/components/auth/__tests__/Captcha.spec.ts
  frontend/src/components/auth/__tests__/LoginForm-glass.spec.ts
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
  frontend/src/views/__tests__/Login.spec.ts
Due: typescript-syntax-check, typescript-naming-check

[REQ-2025-003] 修复合规检查配置：为前端测试文件添加test规则映射，并更新PRD的test_files列表
  .compliance/config.yaml
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
  frontend/src/views/__tests__/Login.spec.ts
  frontend/src/views/__tests__/VerifyEmailView.spec.ts
Due: typescript-syntax-check, typescript-naming-check, npm-workspaces-guard

[REQ-2025-003] 为剩余前端测试文件添加TestCase-ID注释，完善测试用例追溯链
  frontend/src/components/auth/__tests__/DefaultAvatar.spec.ts
  frontend/src/components/auth/__tests__/FloatingInput.spec.ts
  frontend/src/components/auth/__tests__/PasswordResetForm.spec.ts
  frontend/src/components/auth/__tests__/PasswordStrength.spec.ts
  frontend/src/components/auth/__tests__/ResetPasswordForm.spec.ts
  frontend/src/components/auth/__tests__/UserPreview.spec.ts
  frontend/src/router/index.spec.ts
  frontend/src/stores/__tests__/auth.spec.ts
Due: typescript-syntax-check, typescript-naming-check

[REQ-2025-003] 代码格式化：调整import语句顺序（prettier/isort自动格式化）
  frontend/src/components/auth/__tests__/DefaultAvatar.spec.ts
  frontend/src/components/auth/__tests__/FloatingInput.spec.ts
  frontend/src/components/auth/__tests__/PasswordResetForm.spec.ts
  frontend/src/components/auth/__tests__/PasswordStrength.spec.ts
  frontend/src/components/auth/__tests__/ResetPasswordForm.spec.ts
Due: typescript-syntax-check, typescript-naming-check

[REQ-2025-003] 添加API契约一致性验证：在合规检查中集成契约验证功能
  .compliance/checkers/code_checker.py
  .compliance/rules/code.yaml
  docs/architecture/V4/API-CONTRACT-VALIDATION.md
  scripts/validate-api-contract.py
Due: npm-workspaces-guard

feat(api): register feature_flags and common app URLs, convert to DRF APIView for Swagger documentation
  backend/apps/common/urls.py
  backend/apps/common/views.py
  backend/apps/feature_flags/urls.py
  backend/apps/feature_flags/views.py
  backend/apps/users/serializers.py
  backend/apps/users/views.py
  backend/bravo/settings/test.py
  backend/bravo/urls.py
  backend/bravo/urls_test.py
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

chore(tool): 实现Task-0真正的自动生成功能
  .compliance/checkers/task0_checker.py
  .cursor/rules/workflows/task-generation.mdc
  .taskmaster/tasks/tasks.json
  backend/apps/users/views.py
  backend/tests/integration/.gitkeep
  backend/tests/unit/.gitkeep
  docs/architecture/V4/COMPLIANCE-CHECKS.md
  docs/architecture/V4/TASK0-AUTO-GENERATION.md
  docs/architecture/V4/TASK0-FIXED-SUBTASKS.md
  docs/architecture/V4/TASK0-GENERATION-ISSUE.md
  docs/architecture/V4/TASK0-GENERATION-TIMING.md
  docs/architecture/V4/TASK0-TRUE-AUTO-GENERATION.md
  docs/architecture/V4/TASK0-VERIFICATION-RESULT.md
  scripts/task-master-parse-prd.sh
  scripts/task-master/adapter.py
Due: python-naming-check, python-pylint-naming, npm-workspaces-guard

refactor(cursor): 优化规则架构，减少规则冲突和上下文占用
  .compliance/config.yaml
  .cursor/rules/OPTIMIZATION_SUMMARY.md
  .cursor/rules/RULE_OPTIMIZATION_COMPLETE.md
  .cursor/rules/quality/compliance.mdc
  .cursor/rules/tools/taskmaster-workflow.mdc
  .cursor/rules/workflows/bug-investigation-priority.mdc
  .cursor/rules/workflows/debugging.mdc
  .cursor/rules/workflows/documentation.mdc
  .cursor/rules/workflows/intent-recognition.mdc
  .cursor/rules/workflows/project-setup.mdc
  .git-protection-config
  backend/backend/tests/integration/.gitkeep
  backend/backend/tests/unit/.gitkeep
  docs/architecture/CURSOR_RULES_ARCHITECTURE_V5.md
  docs/architecture/code_quality_report.md
Due: npm-workspaces-guard

refactor(cursor): 进一步减少alwaysApply规则，从4个减少到2个
  .cursor/rules/principles/v4-traceability.mdc
  .cursor/rules/tools/pre-commit.mdc
  .cursor/rules/workflows/intent-recognition.mdc
Due: none

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/.*\.py$
  typescript-syntax-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: \.(ts|tsx)$
  vue-naming-check: any of: \.vue$
  npm-workspaces-guard: any of: \.(yml|yaml|py|js|json|sh|Makefile)$
