Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/(apps|tests)/.*\.py$
  typescript-syntax-check: any of: \.(ts|tsx|vue|json)$, but not: node_modules
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  vue-naming-check: any of: ^frontend/src/.*\.vue$

fix(ci): 临时修复npm audit安全检查失败问题
  .github/workflows/on-merge-dev.yml
Due: github-actions-syntax-check

fix(ci): 临时修复npm audit安全检查失败问题 (#34)
  .github/workflows/on-merge-dev.yml
Due: github-actions-syntax-check

fix(ci): 修复Optimized工作流缺少的脚本和目录
  backend/tests/unit/__init__.py
  backend/tests/unit/test_common_pagination.py
  backend/tests/unit/test_common_views.py
  backend/tests/unit/test_users_models.py
  frontend/package.json
  package-lock.json
Due: python-naming-check, python-pylint-naming, typescript-syntax-check

fix(ci): 修复Optimized工作流缺少的脚本和目录 (#35)
  backend/tests/unit/__init__.py
  backend/tests/unit/test_common_pagination.py
  backend/tests/unit/test_common_views.py
  backend/tests/unit/test_users_models.py
  frontend/package.json
  package-lock.json
Due: python-naming-check, python-pylint-naming, typescript-syntax-check

fix(ci): 修复fast-validation工作流中虚拟环境激活问题
  .github/workflows/fast-validation.yml
Due: github-actions-syntax-check

fix(ci): 修复fast-validation工作流中虚拟环境激活问题 (#36)
  .github/workflows/fast-validation.yml
Due: github-actions-syntax-check

fix(ci): 增加regression测试的详细调试输出
  .github/workflows/test-regression.yml
Due: github-actions-syntax-check

fix(ci): 增加regression测试的详细调试输出 (#37)
  .github/workflows/test-regression.yml
Due: github-actions-syntax-check

fix(ci): 系统性修复所有CI失败问题
  .github/workflows/comprehensive-fix.yml
  fix-all-ci-issues.patch
  scripts/fix-ci-mysql-permissions.sh
  scripts/fix-e2e-frontend-deps.sh
Due: github-actions-syntax-check

fix(ci): 修复综合工作流的npm缓存配置问题
  .github/workflows/comprehensive-fix.yml
Due: github-actions-syntax-check

fix(ci): 系统性修复所有CI失败问题 (#38)
  .github/workflows/comprehensive-fix.yml
  fix-all-ci-issues.patch
  scripts/fix-ci-mysql-permissions.sh
  scripts/fix-e2e-frontend-deps.sh
Due: github-actions-syntax-check

fix(ci): 修复MySQL用户缺少创建测试数据库权限的核心问题
  .github/workflows/fast-validation.yml
Due: github-actions-syntax-check

fix(ci): revert scattered cache to unified architecture
  .github/actions/cache-setup/action.yml
  .github/workflows/gate.yml
  .github/workflows/on-merge-dev.yml
  .github/workflows/setup-cache.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-e2e.yml
Due: github-actions-syntax-check

fix(ci): add missing cache save to setup-cached-env action
  .github/actions/setup-cached-env/action.yml
Due: none

fix(ci): eliminate duplicate dependency installs in feature branch
  .github/workflows/on-push-feature.yml
Due: github-actions-syntax-check

fix(ci): activate virtual environment for backend tests in feature workflow
  .github/workflows/on-push-feature.yml
Due: github-actions-syntax-check

fix(ci): add fallback venv creation for backend tests
  .github/workflows/on-push-feature.yml
Due: github-actions-syntax-check

fix(ci): 修复post-merge工作流关键问题
  .github/workflows/fast-validation.yml
  .github/workflows/on-merge-dev.yml
Due: github-actions-syntax-check

fix(ci): 修复Dependency Conflict Check的npm缓存路径
  .github/workflows/on-merge-dev.yml
Due: github-actions-syntax-check

fix(ci): 修复剩余3个工作流失败问题
  .github/workflows/fast-validation.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-regression.yml
Due: github-actions-syntax-check

fix(ci): 修复最后2个关键问题
  .github/workflows/test-e2e-full.yml
  frontend/Dockerfile.test
Due: github-actions-syntax-check

resolve: merge conflicts from stash - keep dev branch versions of auto-generated reports
  .code_changes_tracking.json
  docs/02_test_report/code_change_tracking_report.md
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: typescript-syntax-check

feat: infrastructure hooks updated
  docs/GitHub工作流分析报告.md
  docs/GitHub工作流快速参考.md
Due: none

fix: 紧急修复post merge工作流关键问题
  .code_changes_tracking.json
  .github/actions/cache-setup/action.yml
  .github/workflows/gate.yml
  docs/02_test_report/code_change_tracking_report.md
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  docs/GitHub工作流分析报告.md
  docs/GitHub工作流快速参考.md
  e2e/.gitkeep
  e2e/playwright.config.ts
  scripts/comprehensive_code_manager.py
  scripts/local_github_actions.py
  scripts/simple_local_test.py
  scripts/temp_modification_detector.py
Due: typescript-syntax-check, github-actions-syntax-check

feat: 添加持续集成工作流程规范到.cursorrules
  .cursorrules
Due: none

fix(e2e): 修复E2E烟雾测试配置问题
  .github/workflows/test-e2e-smoke.yml
  e2e/playwright.config.ts
Due: typescript-syntax-check, github-actions-syntax-check

fix: Add MySQL connection verification to regression and E2E test workflows
  .github/workflows/test-e2e.yml
  .github/workflows/test-regression.yml
Due: github-actions-syntax-check

fix: upgrade Node.js from 18 to 20 in all Dockerfiles
  e2e/Dockerfile.test
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/Dockerfile.test
Due: none

fix: 修复dev分支post-merge工作流的5大核心问题
  .github/workflows/dev-merge.yml
  .github/workflows/fast-validation.yml
  .github/workflows/test-regression.yml
  docker-compose.test.yml
  docs/FAQ.md
  e2e/tests/app.spec.ts
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): resolve Docker network timeout and E2E container issues
  backend/Dockerfile.test
  e2e/Dockerfile.test
Due: none

fix(e2e): 修复E2E容器python软链和MySQL健康检查
  docker-compose.test.yml
  e2e/Dockerfile.test
Due: none

fix(e2e): 修复E2E容器依赖安装问题
  e2e/Dockerfile.test
Due: none

fix(e2e): 修复npm install audit错误
  e2e/Dockerfile.test
Due: none

fix(mysql): 修复MySQL时序竞争条件问题
  .github/workflows/test-regression.yml
Due: github-actions-syntax-check

fix(e2e): 修复E2E容器包名冲突的根本问题
  e2e/Dockerfile.test
Due: none

fix(ci): 修复E2E容器化测试和API回归测试失败问题
  .github/workflows/test-regression.yml
  docker-compose.test.yml
  e2e/playwright.config.ts
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 修复API兼容性测试和E2E命令统一问题
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-regression.yml
  e2e/package.json
Due: typescript-syntax-check, github-actions-syntax-check

fix(ci): 修复Feature分支Development Feedback失败
  .github/workflows/on-push-feature.yml
Due: github-actions-syntax-check

fix(docker): 修复docker-compose命令格式问题
  docker-compose.test.yml
Due: none
