Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check

python-naming-check:
  name: Python Naming Convention Check
  entry: python -m flake8 --select=N --config=backend/.flake8 backend/
  language: system
  pass_filenames: false

python-pylint-naming:
  name: Python Pylint Naming Check
  ...

typescript-syntax-check:
  name: TypeScript Syntax Check
  entry: bash -c 'echo "检查E2E TypeScript..." && cd e2e && npm run type-check && echo "E2E TypeScript语法检查通过"'
  language: system
  pass_filenames: false

github-actions-syntax-check:
  name: GitHub Actions Workflow Syntax Check
  entry: bash -c 'echo "检查workflow语法..." && find .github/workflows -name "*.yml" -o -name "*.yaml" | xargs -I {} python -c "import yaml; yaml.safe_load(open(\"{}\", \"r\", encoding=\"utf-8\"))" && echo "语法检查通过"'
  language: system
  pass_filenames: false

typescript-naming-check:
  name: TypeScript Naming Convention Check
  entry: bash -c 'cd frontend && npx eslint'
  language: system
  pass_filenames: true

vue-naming-check:
  name: Vue Naming Convention Check
  entry: bash -c 'cd frontend && npx eslint'
  language: system
  pass_filenames: true

fix(e2e): 增强E2E测试的前端服务稳定性
  docker-compose.test.yml
Due: none

fix(ci): stabilize regression and e2e
  .github/workflows/test-regression.yml
  .gitignore
  frontend/Dockerfile.test
Due: github-actions-syntax-check

fix(ci): stabilize regression and e2e (#61)
  .github/workflows/test-regression.yml
  .gitignore
  frontend/Dockerfile.test
Due: github-actions-syntax-check

ci(e2e): use vite preview for static branch in frontend-test
  docker-compose.test.yml
Due: none

ci(e2e): use vite preview for static branch in frontend-test (#62)
  docker-compose.test.yml
Due: none

chore(precommit): apply prettier/eof-fixer changes
  docs/FUCKING_CI.md
  e2e/tests/app.spec.ts
Due: typescript-syntax-check

chore(precommit): apply prettier changes
  .github/workflows/test-regression.yml
  docs/FUCKING_CI.md
  e2e/tests/app.spec.ts
Due: typescript-syntax-check, github-actions-syntax-check

ci: widen regression backend health wait; further relax e2e perf threshold under CI
  .github/workflows/test-regression.yml
  e2e/tests/app.spec.ts
Due: typescript-syntax-check, github-actions-syntax-check

chore(precommit): apply prettier on docs
  docs/FUCKING_CI.md
  e2e/tests/app.spec.ts
Due: typescript-syntax-check

ci(e2e): set CI=true in e2e-tests container env to align Playwright behavior
  docker-compose.test.yml
Due: none

ci(fast-validation): collect and upload e2e-critical artifacts for diagnostics
  .github/workflows/fast-validation.yml
Due: github-actions-syntax-check

ci(regression): run schema regression only in full scope to avoid false fails in light
  .github/workflows/test-regression.yml
  docs/FUCKING_CI.md
Due: github-actions-syntax-check

chore(precommit): apply prettier changes and cleanup
  .github/workflows/test-regression.yml
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: github-actions-syntax-check

fix(ci): 修复CI关键问题
  .github/workflows/test-regression.yml
  docker-compose.test.yml
Due: github-actions-syntax-check

fix(ci): 回退Named Volume到bind mount修复权限错误
  docker-compose.test.yml
  docs/CI_WORKFLOW.md
  docs/FUCKING_CI.md
Due: none

fix(ci): 修复CI容器权限错误和命令格式问题 - Round6
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

fix(ci): 修复CI容器权限错误和命令格式问题 - Round6 (#69)
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

ci: fix bash syntax and quotes errors - Round7
  .github/workflows/fast-validation.yml
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: github-actions-syntax-check

ci: fix bash syntax and quotes errors - Round7 (#70)
  .github/workflows/fast-validation.yml
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: github-actions-syntax-check

:fix e2e-tests command format - Round8
  docker-compose.test.yml
  docs/FUCKING_CI.md
  test_bash_syntax.sh
Due: none

chore: remove test file
  test_bash_syntax.sh
Due: none

ci: fix e2e-tests command format - Round8 (#71)
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

ci: fix E2E environment and playwright issues - Round9
  docker-compose.test.yml
  docs/FUCKING_CI.md
  frontend/vite.config.ts
Due: typescript-syntax-check

ci: fix E2E environment and playwright issues - Round9 (#72)
  docker-compose.test.yml
  docs/FUCKING_CI.md
  frontend/vite.config.ts
Due: typescript-syntax-check

ci: fix playwright --verbose parameter error - Round10
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

ci: fix playwright --verbose parameter error - Round10 (#73)
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

ci: fix playwright version conflict - Round11
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

ci: fix playwright version conflict - Round11 (#74)
  docker-compose.test.yml
  docs/FUCKING_CI.md
Due: none

ci: fix playwright workspace path - Round12
  docker-compose.test.yml
  docs/FUCKING_CI.md
  e2e/package.json
  package-lock.json
Due: typescript-syntax-check

ci: fix playwright workspace path - Round12 (#75)
  docker-compose.test.yml
  docs/FUCKING_CI.md
  e2e/package.json
  package-lock.json
Due: typescript-syntax-check

fix(e2e): 解决npm install脚本冲突导致的依赖安装失败
  e2e/Dockerfile.test
  e2e/package-lock.json
  e2e/package.json
Due: typescript-syntax-check

fix(e2e): 解决npm install脚本冲突导致的依赖安装失败 (#76)
  e2e/Dockerfile.test
  e2e/package-lock.json
  e2e/package.json
Due: typescript-syntax-check

fix(ci): 修复post-merge E2E测试环境变量缺失问题
  .github/workflows/fast-validation.yml
Due: github-actions-syntax-check

��� 第14轮: 修复post-merge E2E环境变量缺失 - PR与post-merge环境一致性 (#77)
  .github/workflows/fast-validation.yml
Due: github-actions-syntax-check

fix(e2e): 使用npx强制解析playwright命令解决容器环境问题
  e2e/package.json
Due: typescript-syntax-check

��� 第15轮: 使用npx强制解析playwright命令 - 解决容器环境PATH问题 (#78)
  e2e/package.json
Due: typescript-syntax-check

feat: 统一CI环境为Docker容器 - 方案A实施
  .github/workflows/on-pr.yml
  docs/FUCKING_CI.md
  e2e/Dockerfile.test
Due: github-actions-syntax-check

fix(docker): 修正错误的--no-package-lock方案
  e2e/Dockerfile.test
Due: none

fix(docker): e2e 镜像使用 npm ci 可重复构建
  e2e/Dockerfile.test
Due: none

��� 方案A：统一CI环境为Docker容器 - 彻底解决虚假成功 (#79)
  .github/workflows/on-pr.yml
  docs/FUCKING_CI.md
  e2e/Dockerfile.test
Due: github-actions-syntax-check

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/(apps|tests)/.*\.py$
  typescript-syntax-check: any of: \.(ts|tsx|vue|json)$, but not: node_modules
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  vue-naming-check: any of: ^frontend/src/.*\.vue$
