Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-naming-check, vue-naming-check

python-naming-check:
  name: Python Naming Convention Check
  entry: python -m flake8 --select=N --config=backend/.flake8 backend/
  language: system
  pass_filenames: false

python-pylint-naming:
  name: Python Pylint Naming Check
  ...

typescript-naming-check:
  name: TypeScript Naming Convention Check
  entry: bash -c 'cd frontend && npx eslint'
  language: system
  pass_filenames: true

vue-naming-check:
  name: Vue Naming Convention Check
  entry: bash -c 'cd frontend && npx eslint'
  language: system
  pass_filenames: true

fix: 一次性修复所有Django数据库迁移问题
  .github/workflows/gate.yml
  backend/apps/users/models.py
  backend/bravo/settings/test.py
  feature-test-map.json
  feature-test-map.md
Due: python-naming-check, python-pylint-naming

fix: 修复自定义用户模型与测试代码的冲突
  backend/tests/integration/test_simple_integration.py
  backend/tests/test_regression.py
  feature-test-map.json
  feature-test-map.md
Due: python-naming-check, python-pylint-naming

test: 测试pre-commit是否正常工作
  feature-test-map.json
  feature-test-map.md
Due: none

fix: 修复E2E测试端口冲突问题
  .github/workflows/e2e.yml
  .github/workflows/gate.yml
  .github/workflows/regression-tests.yml
  e2e/playwright.config.ts
  feature-test-map.json
  feature-test-map.md
Due: none

fix: 彻底修复E2E测试端口冲突问题
  .github/workflows/e2e.yml
  .github/workflows/gate.yml
  .github/workflows/regression-tests.yml
  e2e/playwright.config.ts
  feature-test-map.json
  feature-test-map.md
Due: none

docs: 更新功能映射报告时间戳
  feature-test-map.json
  feature-test-map.md
Due: none

docs: 添加 Git 钩子安装指南和脚本
  docs/01_guideline/git-hooks-setup.md
  scripts/install-hooks.sh
Due: none

fix: 修复E2E测试超时问题
  .github/workflows/e2e.yml
  e2e/global-setup.ts
  e2e/playwright.config.ci.ts
  e2e/playwright.config.ts
  e2e/tests/health.spec.ts
Due: none

feat: 基础设施优先 - 让E2E测试先跑通
  e2e/playwright.config.ci.ts
  e2e/tests/app.spec.ts
  e2e/tests/blog.spec.ts
  frontend/src/router/index.ts
  frontend/src/views/Blog.vue
  frontend/src/views/Login.vue
Due: typescript-naming-check, vue-naming-check

fix: 修复前端路由测试 - 更新路由数量期望
  frontend/src/router/index.spec.ts
Due: typescript-naming-check

fix: 完善博客页面以支持E2E测试
  frontend/src/views/Blog.vue
Due: typescript-naming-check, vue-naming-check

修复E2E测试失败问题
  .github/workflows/e2e.yml
  LOCAL_TEST_RESULTS.md
  backend/apps/common/urls.py
  backend/apps/common/views.py
  backend/bravo/settings/base.py
  backend/bravo/urls.py
  docs/TEST_FIXES_SUMMARY.md
  e2e/playwright.config.ts
  fix_verification_report.txt
  fix_verification_simple_report.txt
  frontend/src/router/index.ts
  frontend/src/views/Blog.vue
  frontend/src/views/BlogDetail.vue
  package-lock.json
  test_fixes.py
  test_fixes_simple.py
Due: python-naming-check, python-pylint-naming, typescript-naming-check, vue-naming-check

更新功能测试映射
  feature-test-map.json
  feature-test-map.md
Due: none

修复路由单元测试
  frontend/src/router/index.spec.ts
Due: typescript-naming-check

修复CI/CD中的后端服务启动问题
  .github/workflows/e2e.yml
  FINAL_TEST_RESULTS.md
  backend/bravo/settings/test.py
  e2e/tests/health.spec.ts
  feature-test-map.json
  feature-test-map.md
  frontend/tests/reports/junit.xml
Due: python-naming-check, python-pylint-naming

ci(debug): add detailed logging to diagnose 500 error
  backend/bravo/settings/test.py
  backend/bravo/urls_test.py
Due: python-naming-check, python-pylint-naming

fix(ci): correct YAML syntax errors in e2e workflow
  .github/workflows/e2e.yml
Due: none

fix: 一次性修复所有Backend测试问题 - 修复导入错误、数据库标记、异常处理等 (15 passed)
  backend/bravo/settings/test.py
  backend/bravo/urls_test.py
  backend/pytest.ini
  backend/tests/integration/test_simple_integration.py
  backend/tests/test_regression.py
Due: python-naming-check, python-pylint-naming

fix: 修复 CI 中 nyc 覆盖率报告错误 - 改用 vitest 覆盖率输出
  .github/workflows/gate.yml
Due: none

fix: 调整覆盖率阈值并修复CI问题 - 前端90%/70%, 后端44%, 修复jest->vitest
  .github/workflows/gate.yml
  backend/pytest.ini
  backend/test_auto_naming.py
  backend/test_simple.py
  e2e/tests/health.spec.ts
  feature-test-map.json
  feature-test-map.md
  frontend/coverage/base.css
  frontend/coverage/block-navigation.js
  frontend/coverage/coverage-final.json
  frontend/coverage/index.html
  frontend/coverage/lcov-report/base.css
  frontend/coverage/lcov-report/block-navigation.js
  frontend/coverage/lcov-report/index.html
  frontend/coverage/lcov-report/prettify.css
  frontend/coverage/lcov-report/prettify.js
  frontend/coverage/lcov-report/router/index.html
  frontend/coverage/lcov-report/router/index.ts.html
  frontend/coverage/lcov-report/sorter.js
  frontend/coverage/lcov-report/views/Blog.vue.html
  frontend/coverage/lcov-report/views/BlogDetail.vue.html
  frontend/coverage/lcov-report/views/Home.vue.html
  frontend/coverage/lcov-report/views/Login.vue.html
  frontend/coverage/lcov-report/views/index.html
  frontend/coverage/lcov.info
  frontend/coverage/prettify.css
  frontend/coverage/prettify.js
  frontend/coverage/router/index.html
  frontend/coverage/router/index.ts.html
  frontend/coverage/sorter.js
  frontend/coverage/views/Blog.vue.html
  frontend/coverage/views/BlogDetail.vue.html
  frontend/coverage/views/Home.vue.html
  frontend/coverage/views/Login.vue.html
  frontend/coverage/views/index.html
  frontend/package.json
  frontend/tests/reports/junit.xml
  frontend/vitest.config.ts
  package-lock.json
Due: python-naming-check, python-pylint-naming

fix: 修复post-commit钩子中的Unicode编码错误 - 移除emoji字符
  scripts/code_change_tracker.py
Due: none

fix: 完全修复post-commit钩子Unicode编码错误
  scripts/code_change_tracker.py
Due: none

fix: 修复Lighthouse CI配置，改为URL审计模式
  .github/workflows/gate.yml
  lighthouserc.json
Due: none

fix: 修复Codecov速率限制问题，添加错误处理
  .github/workflows/ci.yml
  .github/workflows/gate.yml
  docs/CODECOV_SETUP.md
Due: none

feat: 集成Codecov token，移除临时错误处理
  .github/workflows/ci.yml
  .github/workflows/gate.yml
  docs/CODECOV_SETUP.md
Due: none

docs: 更新Codecov配置状态为已完成
  docs/CODECOV_SETUP.md
Due: none

fix: 修复前端测试JUnit报告生成问题
  .github/workflows/gate.yml
Due: none

feat: 启用post-checkout钩子功能
  .code_changes_tracking.json
  .husky/post-checkout
  .lighthouseci/assertion-results.json
  .lighthouseci/lhr-1757506748596.html
  .lighthouseci/lhr-1757506748596.json
  .lighthouseci/links.json
  docs/02_test_report/code_change_tracking_report.md
  feature-test-map.json
  feature-test-map.md
Due: none

fix: 修复post-checkout处理器中的Unicode编码错误
  scripts/post_checkout_handler.py
Due: none

fix: 修复post-checkout处理器中剩余的emoji字符
  scripts/post_checkout_handler.py
Due: none

fix: 修复post-checkout处理器在Windows下的中文输出编码问题
  scripts/post_checkout_handler.py
Due: none

feat: 添加分支版本检查功能到post-checkout钩子
  scripts/post_checkout_handler.py
Due: none

fix: 适配Docker开发环境，跳过本地依赖和环境文件检查
  scripts/post_checkout_handler.py
Due: none

fix: 修复后端测试数量不足问题，运行所有测试包括集成测试
  .github/workflows/gate.yml
Due: none

fix: 统一CI环境数据库为MySQL，与开发环境保持一致
  .github/workflows/gate.yml
Due: none

fix: 添加dj-database-url依赖，修复CI测试失败问题
  backend/requirements/test.txt
Due: none

fix: 统一所有CI工作流使用MySQL数据库
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/regression-tests.yml
  .github/workflows/regression.yml
Due: none

fix: 修复MySQL连接问题，添加数据库等待和迁移步骤
  .github/workflows/e2e.yml
  .github/workflows/gate.yml
  .github/workflows/regression-tests.yml
  .github/workflows/regression.yml
Due: none

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/.*\.py$
  typescript-naming-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  vue-naming-check: any of: ^frontend/src/.*\.vue$
