Repository Layneliang24/Bravo: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-naming-check, python-pylint-naming, typescript-syntax-check, github-actions-syntax-check, typescript-naming-check, vue-naming-check, npm-workspaces-guard

Path conditions:
  python-naming-check: any of: ^backend/.*\.py$
  python-pylint-naming: any of: ^backend/.*\.py$
  typescript-syntax-check: any of: ^frontend/src/.*\.(js|ts|vue)$
  github-actions-syntax-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
  typescript-naming-check: any of: \.(ts|tsx)$
  vue-naming-check: any of: \.vue$
  npm-workspaces-guard: any of: \.(yml|yaml|py|js|json|sh|Makefile)$

test: adjust vitest coverage thresholds to match project reality [REQ-2025-003-user-login]
  frontend/vitest.config.ts
Due: typescript-naming-check

fix: adjust total coverage threshold and fix summary logic [REQ-2025-003-user-login]
  .github/workflows/test-suite.yml
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: github-actions-syntax-check, npm-workspaces-guard

fix: restore missing if statement in test summary [REQ-2025-003-user-login]
  .github/workflows/test-suite.yml
Due: github-actions-syntax-check, npm-workspaces-guard

feat(rules): [REQ-SYSTEM-RULES-V4] implement atomic prohibitions and restructure rule system [TASK-RULES-RESTRUCTURE]
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-self-evolution.mdc
  .cursorrules
  .husky/pre-commit
Due: none

docs: 补充task-master任务文件生成要求和存储结构规则
  .cursor/rules/03-taskmaster/task-generation.mdc
Due: none

docs: 更新规则文件和测试文件
  .cursor/rules/00-core/behavior-guidelines.mdc
  .cursor/rules/00-core/v4-self-evolution.mdc
  .cursor/rules/02-testing/e2e-testing.mdc
  .cursor/rules/02-testing/test-types.mdc
  .cursor/rules/03-taskmaster/taskmaster-cli.mdc
  .cursor/rules/03-taskmaster/taskmaster-workflow.mdc
  .cursor/rules/05-debugging/debugging-methodology.mdc
  backend/coverage.json
Due: npm-workspaces-guard

fix: 在pre-push hook中添加保护分支检查逻辑
  .husky/pre-push
Due: none

docs: 在behavior-guidelines中添加流程红线和质量红线规则
  .cursor/rules/00-core/behavior-guidelines.mdc
Due: none

docs: 纳入 system-interceptors 并补充新机配置步骤
  .code-quality-config.yaml
  docs/01_guideline/NEW-MACHINE-SETUP.md
  scripts/run_python_in_project.sh
  scripts/run_validate_commit.sh
  system-interceptors/install.bat
  system-interceptors/pip.cmd
  system-interceptors/pip3.cmd
  system-interceptors/python.cmd
  system-interceptors/python3.cmd
Due: npm-workspaces-guard

fix(ci): performance-audit 前确保 root 存在 tailwindcss
  .github/workflows/quality-gates.yml
Due: github-actions-syntax-check, npm-workspaces-guard

fix(security): 修复 npm 高危安全漏洞 (axios/flatted/minimatch/ajv)
  backend/coverage.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npm-workspaces-guard

fix(security): 完整修复所有 npm 安全漏洞 (6/6)
  backend/coverage.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npm-workspaces-guard

fix(security)+docs: 修复全部npm安全漏洞，建立版本控制说明
  .code-quality-config.yaml
  .github/workflows/quality-gates.yml
  backend/coverage.json
  docs/01_guideline/NEW-MACHINE-SETUP.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  scripts/run_python_in_project.sh
  scripts/run_validate_commit.sh
  system-interceptors/install.bat
  system-interceptors/pip.cmd
  system-interceptors/pip3.cmd
  system-interceptors/python.cmd
  system-interceptors/python3.cmd
Due: github-actions-syntax-check, npm-workspaces-guard

fix: 修复合并后 lint 和 type-check CI 失败
  package-lock.json
  package.json
Due: npm-workspaces-guard

ci: 升级缓存版本到 v6 防止旧 node_modules 污染
  .github/actions/setup-cached-env/action.yml
Due: npm-workspaces-guard

fix: 修复合并后 lint/type-check/缓存失效导致的 CI 失败
  .github/actions/setup-cached-env/action.yml
  package-lock.json
  package.json
Due: npm-workspaces-guard

fix(ci): speed up e2e workflow runtime
  .github/workflows/test-suite.yml
  backend/tests/integration/test_preview_throttling.py
  e2e/Dockerfile.test
  e2e/playwright.config.ci.ts
Due: python-naming-check, python-pylint-naming, github-actions-syntax-check, typescript-naming-check, npm-workspaces-guard

fix(e2e): disable playwright webServer in CI container run
  backend/coverage.json
  e2e/playwright.config.ci.ts
Due: typescript-naming-check, npm-workspaces-guard
