Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

perf(docker): use aliyun mirror for faster build in China
  backend/Dockerfile.prod
Due: backend

perf(docker): use aliyun mirror for faster build in China (#160)
  backend/Dockerfile.prod
Due: backend

fix(docker): copy entire requirements directory
  backend/Dockerfile.prod
Due: backend

fix(docker): copy entire requirements directory (#161)
  backend/Dockerfile.prod
Due: backend

fix(docker): remove non-existent nginx config volume mount
  docker-compose.prod-optimized.yml
Due: none

fix(docker): remove non-existent nginx config volume mount (#162)
  docker-compose.prod-optimized.yml
Due: none

fix(docker): create django log directory
  backend/Dockerfile.prod
Due: backend

fix(docker): create django log directory (#163)
  backend/Dockerfile.prod
Due: backend

fix(mysql): remove deprecated query_cache_size parameter
  docker-compose.prod-optimized.yml
Due: none

fix(mysql): remove deprecated query_cache_size parameter (#164)
  docker-compose.prod-optimized.yml
Due: none

fix(docker): ensure log directory permissions at runtime
  backend/Dockerfile.prod
Due: backend

fix(docker): ensure log directory permissions at runtime (#165)
  backend/Dockerfile.prod
Due: backend

fix(docker): use ENTRYPOINT to ensure log dir before Django init
  backend/Dockerfile.prod
Due: backend

fix(docker): use ENTRYPOINT to ensure log dir before Django init (#166)
  backend/Dockerfile.prod
Due: backend

fix(docker): add required DB environment variables
  docker-compose.prod-optimized.yml
Due: none

fix(docker): add required DB environment variables (#167)
  docker-compose.prod-optimized.yml
Due: none

fix(docker): ensure celery log directory exists
  docker-compose.prod-optimized.yml
Due: none

fix(docker): ensure celery log directory exists (#168)
  docker-compose.prod-optimized.yml
Due: none

feat(ssl): add SSL setup tools and disable HTTPS redirect temporarily
  docker-compose.prod-optimized.yml
  docs/SSL_SETUP_GUIDE.md
  frontend/nginx-ssl.conf
  scripts/setup-ssl.sh
Due: frontend

feat(ssl): add SSL setup tools and disable HTTPS redirect temporarily (#169)
  docker-compose.prod-optimized.yml
  docs/SSL_SETUP_GUIDE.md
  frontend/nginx-ssl.conf
  scripts/setup-ssl.sh
Due: frontend

fix(static): fix Django admin styles and DRF browsable API
  backend/Dockerfile.prod
  backend/bravo/settings/base.py
Due: backend

fix(static): fix Django admin styles and DRF browsable API (#170)
  backend/Dockerfile.prod
  backend/bravo/settings/base.py
Due: backend

fix(nginx): fix static files serving and location order
  frontend/nginx.conf
Due: frontend

fix(nginx): fix static files serving and location order (#171)
  frontend/nginx.conf
Due: frontend

fix(docker): fix collectstatic execution in build time
  backend/Dockerfile.prod
Due: backend

fix(docker): fix collectstatic execution in build time (#172)
  backend/Dockerfile.prod
Due: backend

fix(docker): use named volume for staticfiles instead of bind mount
  docker-compose.prod-optimized.yml
Due: none

fix(docker): use named volume for staticfiles instead of bind mount (#173)
  docker-compose.prod-optimized.yml
Due: none

feat: add deployment validation script
  scripts/validate-deployment.sh
Due: none

��� Release v1.0.0 - Production Deployment (#174)
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  .github/workflows/workflow-validation-monitor.yml
  backend/Dockerfile.prod
  backend/bravo/settings/base.py
  docker-compose.dev.yml
  docker-compose.local-ci.yml
  docker-compose.local-production.yml
  docker-compose.monitoring.yml
  docker-compose.prod-optimized.yml
  docker-compose.tools.yml
  docker/env/env.local-prod.example
  docker/env/env.production.example
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCKER_COMPOSE_GUIDE.md
  docs/SSL_SETUP_GUIDE.md
  frontend/Dockerfile.prod
  frontend/nginx-ssl.conf
  frontend/nginx.conf
  scripts-golden/local_test_passport.py
  scripts/deploy-server.sh
  scripts/setup-ssl.sh
  scripts/validate-deployment.sh
Due: backend, frontend

fix: separate deployment directories for dev and prod environments
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix: create separate docker-compose files for dev and prod with different ports
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.dev-server.yml
  docker-compose.prod-server.yml
Due: none

fix: separate deployment directories for dev and prod (#175)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.dev-server.yml
  docker-compose.prod-server.yml
  scripts/validate-deployment.sh
Due: none

fix: use single docker-compose with env vars for dev/prod separation
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.dev-server.yml
  docker-compose.prod-optimized.yml
  docker-compose.prod-server.yml
Due: none

fix(docker): install all deps including devDependencies for build stage
  frontend/Dockerfile.prod
Due: frontend

fix(docker): fix frontend build - install all dependencies
  frontend/Dockerfile.prod
Due: frontend

refactor(docker): standardize docker-compose file naming
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.ci.yml
  docker-compose.prod-optimized.yml
  docker-compose.prod-server.yml
  docker-compose.prod.yml
  docker-compose.production.yml
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCKER_COMPOSE_GUIDE.md
  docs/SSL_SETUP_GUIDE.md
  scripts/deploy-server.sh
  scripts/setup-ssl.sh
Due: none

refactor(docker): standardize docker-compose file naming (#181)
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.ci.yml
  docker-compose.prod-optimized.yml
  docker-compose.prod-server.yml
  docker-compose.prod.yml
  docker-compose.production.yml
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCKER_COMPOSE_GUIDE.md
  docs/SSL_SETUP_GUIDE.md
  scripts/deploy-server.sh
  scripts/setup-ssl.sh
Due: none

refactor(docker): standardize docker-compose file naming (#181) (#182)
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docker-compose.ci.yml
  docker-compose.prod-optimized.yml
  docker-compose.prod-server.yml
  docker-compose.prod.yml
  docker-compose.production.yml
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCKER_COMPOSE_GUIDE.md
  docs/SSL_SETUP_GUIDE.md
  scripts/deploy-server.sh
  scripts/setup-ssl.sh
Due: none

fix(deploy): use git reset --hard to avoid merge conflicts on server
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
  frontend: any of: frontend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
