Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(cursor): 实现V5规则架构重组
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/00-core/v4-traceability.mdc
  .cursor/rules/01-product/prd-refinement.mdc
  .cursor/rules/01-product/prd-standards.mdc
  .cursor/rules/02-testing/contract-testing.mdc
  .cursor/rules/02-testing/e2e-testing.mdc
  .cursor/rules/02-testing/golden-tests.mdc
  .cursor/rules/02-testing/test-case-review.mdc
  .cursor/rules/02-testing/test-case-standards.mdc
  .cursor/rules/02-testing/test-coverage.mdc
  .cursor/rules/02-testing/test-types.mdc
  .cursor/rules/03-taskmaster/hamster-integration.mdc
  .cursor/rules/03-taskmaster/task-generation.mdc
  .cursor/rules/03-taskmaster/taskmaster-cli.mdc
  .cursor/rules/03-taskmaster/taskmaster-workflow.mdc
  .cursor/rules/04-development/code-standards.mdc
  .cursor/rules/04-development/development-workflow.mdc
  .cursor/rules/04-development/django-development.mdc
  .cursor/rules/04-development/task-execution.mdc
  .cursor/rules/04-development/vue-development.mdc
  .cursor/rules/05-debugging/debugging-methodology.mdc
  .cursor/rules/05-debugging/troubleshooting-checklist.mdc
  .cursor/rules/06-cicd/cd-workflow.mdc
  .cursor/rules/06-cicd/ci-workflow.mdc
  .cursor/rules/06-cicd/compliance.mdc
  .cursor/rules/06-cicd/pre-commit.mdc
  .cursor/rules/07-documentation/documentation-standards.mdc
  .cursor/rules/07-documentation/script-conventions.mdc
  .cursor/rules/08-project/project-setup.mdc
  .cursor/rules/09-roles/architect.mdc
  .cursor/rules/09-roles/developer.mdc
  .cursor/rules/09-roles/prd-designer.mdc
  .cursor/rules/09-roles/tester.mdc
  .cursor/rules/1-quality/code-review.mdc
  .cursor/rules/1-quality/performance.mdc
  .cursor/rules/1-quality/security.mdc
  .cursor/rules/10-tools/directory-guard.mdc
  .cursor/rules/MIGRATION_MAPPING_V5.md
Due: none

fix(cursor): 修复v4-core.mdc中的引用路径
  .cursor/rules/00-core/v4-core.mdc
Due: none

fix(cursor): 修复所有规则文件中的引用路径
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/01-product/prd-standards.mdc
  .cursor/rules/02-testing/test-case-standards.mdc
  .cursor/rules/02-testing/test-types.mdc
  .cursor/rules/04-development/task-execution.mdc
  .cursor/rules/06-cicd/pre-commit.mdc
  .cursor/rules/09-roles/developer.mdc
  .cursor/rules/09-roles/prd-designer.mdc
  .cursor/rules/09-roles/tester.mdc
  .cursor/rules/1-quality/code-review.mdc
Due: none

refactor(cursor): 删除旧架构目录
  .cursor/rules/principles/v4-contract-driven.mdc
  .cursor/rules/principles/v4-core.mdc
  .cursor/rules/principles/v4-traceability.mdc
  .cursor/rules/quality/code-standards.mdc
  .cursor/rules/quality/compliance.mdc
  .cursor/rules/quality/golden-tests.mdc
  .cursor/rules/quality/performance.mdc
  .cursor/rules/quality/security.mdc
  .cursor/rules/quality/test-coverage.mdc
  .cursor/rules/quality/testing.mdc
  .cursor/rules/roles/architect.mdc
  .cursor/rules/roles/developer.mdc
  .cursor/rules/roles/prd-designer.mdc
  .cursor/rules/roles/tester.mdc
  .cursor/rules/tech/django.mdc
  .cursor/rules/tech/vue.mdc
  .cursor/rules/tools/directory-guard.mdc
  .cursor/rules/tools/pre-commit.mdc
  .cursor/rules/tools/scripts.mdc
  .cursor/rules/tools/taskmaster-hamster.mdc
  .cursor/rules/tools/taskmaster-workflow.mdc
  .cursor/rules/tools/taskmaster.mdc
  .cursor/rules/workflows/bug-investigation-priority.mdc
  .cursor/rules/workflows/ci-cd.mdc
  .cursor/rules/workflows/code-review.mdc
  .cursor/rules/workflows/debugging.mdc
  .cursor/rules/workflows/deployment.mdc
  .cursor/rules/workflows/development.mdc
  .cursor/rules/workflows/documentation.mdc
  .cursor/rules/workflows/e2e.mdc
  .cursor/rules/workflows/intent-recognition.mdc
  .cursor/rules/workflows/prd-design.mdc
  .cursor/rules/workflows/prd-refinement.mdc
  .cursor/rules/workflows/project-setup.mdc
  .cursor/rules/workflows/task-execution.mdc
  .cursor/rules/workflows/task-generation.mdc
  .cursor/rules/workflows/testcase-design.mdc
  .cursor/rules/workflows/testcase-review.mdc
Due: none

docs(cursor): 完成V5架构验证文档
  .cursor/rules/ARCHITECTURE_V5_VERIFICATION.md
Due: none

fix(cursor): 更新README.md中的规则引用路径
  .cursor/rules/README.md
Due: none

docs(cursor): 修正验证文档，明确区分静态验证和对话测试
  .cursor/rules/ARCHITECTURE_V5_VERIFICATION.md
Due: none

docs(cursor): 完成规则文件分析报告
  .cursor/rules/RULE_ANALYSIS.md
Due: none

fix(security): 移除所有pre-commit和push工作流中的环境变量绕过机制
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-containerization.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/00-core/v4-directory-structure.mdc
  .cursor/rules/00-core/v4-tdd.mdc
  .cursor/rules/00-core/v4-traceability.mdc
  .cursor/rules/03-taskmaster/task-generation.mdc
  .cursor/rules/04-development/development-workflow.mdc
  .cursor/rules/04-development/task-execution.mdc
  .cursor/rules/06-cicd/compliance.mdc
  .cursor/rules/06-cicd/pre-commit.mdc
  .cursor/rules/1-quality/code-review.mdc
  .cursor/rules/1-quality/performance.mdc
  .cursor/rules/10-tools/directory-guard.mdc
  .cursor/rules/ARCHITECTURE_V5_VERIFICATION.md
  .cursor/rules/README.md
  .git-protection-config
  .github/workflows/release-pipeline.yml
  .husky/pre-commit
  .husky/pre-push
  scripts-golden/dependency-guard.sh
  scripts-golden/git-guard.sh
  scripts-golden/git-protection-monitor.sh
Due: none

fix(test): 修复前端单元测试命令
  .husky/pre-commit
  scripts-golden/local_test_passport.py
Due: none

fix(test): 修复前端测试未处理的Promise rejection
  .husky/pre-commit
  frontend/tests/setup.ts
Due: frontend

fix(test): 改进RegisterForm测试清理逻辑
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
Due: frontend

fix(test): 修复Vue内部运行时错误导致的测试失败
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/__tests__/LoginForm-glass.spec.ts
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
  frontend/tests/setup.ts
  frontend/vitest.config.ts
Due: frontend

fix(api): 修复验证码刷新API的400错误
  backend/apps/users/views.py
  backend/coverage.json
  frontend/src/stores/auth.ts
Due: backend, frontend

fix(test): 更新refreshCaptcha测试以匹配新的POST实现
  frontend/src/stores/__tests__/auth.spec.ts
Due: frontend

fix(api): 修复验证码刷新API空请求体导致的400错误
  backend/apps/users/serializers.py
  backend/apps/users/views.py
  backend/coverage.json
  frontend/src/components/auth/Captcha.vue
Due: backend, frontend

docs(cursor): 更新意图识别规则并清理临时文档
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/ARCHITECTURE_V5_VERIFICATION.md
  .cursor/rules/MIGRATION_MAPPING_V5.md
  .cursor/rules/OPTIMIZATION_SUMMARY.md
  .cursor/rules/REFACTOR_DISCUSSION.md
  .cursor/rules/REFACTOR_PLAN.md
  .cursor/rules/RULE_ANALYSIS.md
  .cursor/rules/RULE_OPTIMIZATION_COMPLETE.md
  .cursor/rules/VERIFICATION_REPORT.md
Due: none

refactor(cursor): 修复规则声明中的角色处理问题
  .cursor/rules/00-core/behavior-guidelines.mdc
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/05-debugging/debugging-methodology.mdc
  .cursor/rules/06-cicd/compliance.mdc
  .cursor/rules/06-cicd/pre-commit.mdc
  .cursor/rules/RULE_TEMPLATE.mdc
  .cursor/rules/test-rule-completeness.sh
  .cursor/rules/test-rule-format.sh
Due: none

fix(cursor): 强化规则执行机制，确保规则优先级高于用户要求
  .cursor/rules/00-core/behavior-guidelines.mdc
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
Due: none

fix(deps): 同步package-lock.json与package.json，修复CI依赖安装失败问题
  backend/coverage.json
  package-lock.json
Due: backend

refactor(cursor): 重构规则目录结构，优化规则组织
  .cursor/rules/00-core/behavior-guidelines.mdc
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/02-testing/test-types.mdc
  .cursor/rules/05-debugging/debugging-methodology.mdc
  .cursor/rules/05-debugging/troubleshooting-checklist.mdc
  .cursor/rules/06-cicd/ci-workflow.mdc
  .cursor/rules/06-cicd/compliance.mdc
  .cursor/rules/06-cicd/pre-commit.mdc
  .cursor/rules/06-cicd/version-control.mdc
  .cursor/rules/10-quality/code-review.mdc
  .cursor/rules/10-quality/performance.mdc
  .cursor/rules/10-quality/security.mdc
  .cursor/rules/11-tools/directory-guard.mdc
  .cursor/rules/ARCHITECTURE_LIST.md
  .cursor/rules/README.md
  backend/coverage.json
Due: backend

fix(cursor): 更新通行证生成器工作流文件列表
  scripts/local_test_passport.py
Due: none

fix(cursor): 优化通行证生成器，处理网络和WSL环境问题
  scripts/local_test_passport.py
Due: none

fix(cursor): 优化act网络超时检测，支持更多网络错误类型
  scripts/local_test_passport.py
Due: none

fix(cursor): 优化act工作流执行测试，网络问题时跳过
  scripts/local_test_passport.py
Due: none

docs(cursor): 添加分支清理规范和便捷命令规则
  .cursor/rules/06-cicd/version-control.mdc
Due: none

docs(rules): [REQ-SYSTEM-RULES-V4] sync V4 architecture rules and global constitution [TASK-RULES-SYNC]
  .cursor/rules/00-core/behavior-guidelines.mdc
  .cursor/rules/00-core/intent-recognition.mdc
  .cursor/rules/00-core/v4-core.mdc
  .cursor/rules/01-product/prd-standards.mdc
  .cursor/rules/02-testing/test-case-standards.mdc
  .cursor/rules/02-testing/test-coverage.mdc
  .cursor/rules/02-testing/test-types.mdc
  .cursor/rules/03-taskmaster/task-generation.mdc
  .cursor/rules/04-development/development-workflow.mdc
  .cursor/rules/04-development/task-execution.mdc
  .cursor/rules/05-debugging/debugging-methodology.mdc
  .cursor/rules/06-cicd/ci-workflow.mdc
  .cursor/rules/06-cicd/compliance.mdc
  .cursor/rules/06-cicd/pre-commit.mdc
  .cursor/rules/06-cicd/version-control.mdc
  .cursor/rules/09-roles/architect.mdc
  .cursor/rules/09-roles/developer.mdc
  .cursor/rules/09-roles/prd-designer.mdc
  .cursor/rules/09-roles/tester.mdc
  .cursor/rules/11-tools/directory-guard.mdc
Due: none

feat(rules): [REQ-SYSTEM-RULES-V4] add V4 self-evolution and lesson learned rule [TASK-RULES-EVOLUTION]
  .cursor/rules/00-core/v4-self-evolution.mdc
  backend/coverage.json
Due: backend

fix(security): [REQ-SYSTEM-RULES-V4] upgrade protected branch check priority in git-guard [TASK-SECURITY-FIX]
  backend/coverage.json
  scripts-golden/git-guard.sh
Due: backend

feat(rules): [REQ-SYSTEM-RULES-V4] add V4 self-evolution and lesson learned rule [TASK-RULES-EVOLUTION] (#309)
  .cursor/rules/00-core/v4-self-evolution.mdc
  backend/coverage.json
Due: backend

fix(security): [REQ-SYSTEM-RULES-V4] upgrade protected branch check priority (#310)
  backend/coverage.json
  scripts-golden/git-guard.sh
Due: backend

test: add unit tests for register and password reset views to fix coverage [REQ-2025-003-user-login]
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login-test-cases.csv
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  frontend/src/views/__tests__/ForgotPassword.spec.ts
  frontend/src/views/__tests__/Register.spec.ts
  frontend/src/views/__tests__/ResetPassword.spec.ts
Due: frontend

docs: fix PRD metadata and CSV format for compliance sync [REQ-2025-003-user-login]
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login-test-cases.csv
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
  safe-push
Due: none

docs: correct CSV field count and PRD timestamp [REQ-2025-003-user-login]
  backend/coverage.json
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login-test-cases.csv
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: backend

docs: align PRD timestamp with server time and update case count [REQ-2025-003-user-login]
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: none

docs: finalize compliance and fix workflow summary [REQ-2025-003-user-login]
  .github/workflows/push-validation.yml
  backend/coverage.json
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: backend

fix: final workflow summary and compliance alignment [REQ-2025-003-user-login]
  backend/coverage.json
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: backend

docs: remove non-existent api file from implementation_files [REQ-2025-003-user-login]
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: none

fix: explicit implementation files list and yaml indent [REQ-2025-003-user-login]
  backend/coverage.json
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-user-login.md
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
  frontend: any of: frontend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
