Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov配置文件
# 用于配置代码覆盖率报告和上传设置

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
      backend:
        target: 85%
        threshold: 2%
        flags:
          - backend
      frontend:
        target: 75%
        threshold: 2%
        flags:
          - frontend

    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  frontend:
    paths:
      - frontend/
    carryforward: false

ignore:
  - "backend/manage.py"
  - "backend/*/migrations/"
  - "backend/*/settings/"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/venv/"
  - "backend/.venv/"
  - "frontend/dist/"
  - "frontend/node_modules/"
  - "frontend/public/"
  - "frontend/src/assets/"
  - "e2e/"
  - "scripts/"
  - "docs/"
  - "*.md"
  - "*.txt"
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "Dockerfile*"
  - "docker-compose*"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

notifications:
  email:
    default:
      to:
        - admin@example.com
      threshold: 1%
      only_pulls: false
      layout: "reach, diff, flags, files, footer"

  slack:
    default:
      url: "secret:slack_webhook_url"
      threshold: 1%
      only_pulls: false
      message: |
        Coverage for {{ owner }}/{{ repo }} changed by {{ range }}% ({{ commit }})

        {{ diff.files|length }} files changed:
        {% for file in diff.files %}
        - {{ file.name }}: {{ file.coverage }}%
        {% endfor %}

fixes:
  - "backend/apps/::"
  - "frontend/src/::"

validation:
  max_report_age: 24 # 24小时
  require_ci_to_pass: yes
  notify_error: yes

ui:
  hide_density:
    - "frontend/src/assets/"
    - "backend/static/"
  hide_complexity:
    - "frontend/src/types/"
    - "backend/*/migrations/"

bypass test
  newuser-test.txt
Due: none

second bypass test
  newuser-test2.txt
Due: none

feat: 添加服务器端pre-receive钩子和GitHub部署方案
  .git-protection-config
  .github/workflows/server-hooks-simulation.yml
  docs/01_guideline/git-hooks-architecture.md
  scripts/code-quality-check.sh
  server-hooks/COVERAGE_ANALYSIS.md
  server-hooks/ENHANCEMENTS.md
  server-hooks/GITHUB_DEPLOYMENT.md
  server-hooks/README.md
  server-hooks/TEST_RESULTS.md
  server-hooks/deploy.sh
  server-hooks/pre-receive
  server-hooks/test-pre-receive.sh
Due: none

fix: 修复pre-receive钩子中的合并冲突标记误报
  server-hooks/pre-receive
Due: none

fix: 修复server-hooks-simulation工作流中的合并冲突检查
  .github/workflows/server-hooks-simulation.yml
Due: none

fix: 排除工作流文件自身的合并冲突检测模式
  .github/workflows/server-hooks-simulation.yml
Due: none

fix: 修复测试文件中的合并冲突标记示例
  server-hooks/test-pre-receive.sh
Due: none

fix: 使用变量拼接避免grep模式自身被检测
  .github/workflows/server-hooks-simulation.yml
Due: none

fix: 添加Jest环境支持到ESLint配置
  frontend/.eslintrc.cjs
Due: frontend

chore: 清理根目录测试文件
  newuser-test.txt
  newuser-test2.txt
Due: none

fix: 修复dir_guard.yml只检测新增文件而非删除
  .github/workflows/dir_guard.yml
Due: none

fix: dir_guard.yml使用PR的base分支而非硬编码main
  .github/workflows/dir_guard.yml
Due: none

fix: 添加缺失的构建脚本 build:skip-check
  package.json
Due: none

fix: 统一所有工作流的目录守卫逻辑
  .github/workflows/on-pr.yml
  .github/workflows/pr-validation.yml
Due: none

feat: 添加服务器端pre-receive钩子和GitHub部署方案 (#147)
  .git-protection-config
  .github/workflows/dir_guard.yml
  .github/workflows/on-pr.yml
  .github/workflows/pr-validation.yml
  .github/workflows/server-hooks-simulation.yml
  docs/01_guideline/git-hooks-architecture.md
  frontend/.eslintrc.cjs
  newuser-test.txt
  newuser-test2.txt
  package.json
  scripts/code-quality-check.sh
  server-hooks/COVERAGE_ANALYSIS.md
  server-hooks/ENHANCEMENTS.md
  server-hooks/GITHUB_DEPLOYMENT.md
  server-hooks/README.md
  server-hooks/TEST_RESULTS.md
  server-hooks/deploy.sh
  server-hooks/pre-receive
  server-hooks/test-pre-receive.sh
Due: frontend

chore: 删除根目录违规测试文件
  test-file.txt
Due: none

chore: 删除根目录违规测试文件 (#149)
  test-file.txt
Due: none

refactor: 删除26个旧工作流，完成优化
  .github/workflows/branch-protection.yml
  .github/workflows/cache-strategy.yml
  .github/workflows/deploy-production.yml
  .github/workflows/dir_guard.yml
  .github/workflows/fast-validation.yml
  .github/workflows/feature-map.yml
  .github/workflows/golden-test-protection.yml
  .github/workflows/main-release.yml
  .github/workflows/on-merge-dev-optimized.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push-dev.yml
  .github/workflows/on-push-feature.yml
  .github/workflows/quality-coverage.yml
  .github/workflows/quality-performance.yml
  .github/workflows/quality-security.yml
  .github/workflows/regression-scheduled.yml
  .github/workflows/setup-cache.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration-optimized.yml
  .github/workflows/test-regression.yml
  .github/workflows/test-unit-backend.yml
  .github/workflows/test-unit-frontend.yml
Due: none

fix: 更新测试通行证脚本工作流列表
  scripts-golden/local_test_passport.py
Due: none

feat: GitHub Actions工作流重构优化（第一阶段） (#150)
  .github/workflows/branch-protection.yml
  .github/workflows/cache-strategy.yml
  .github/workflows/deploy-production.yml
  .github/workflows/dir_guard.yml
  .github/workflows/fast-validation.yml
  .github/workflows/feature-map.yml
  .github/workflows/golden-test-protection.yml
  .github/workflows/main-release.yml
  .github/workflows/on-merge-dev-optimized.yml
  .github/workflows/on-pr.yml
  .github/workflows/on-push-dev.yml
  .github/workflows/on-push-feature.yml
  .github/workflows/quality-coverage.yml
  .github/workflows/quality-performance.yml
  .github/workflows/quality-security.yml
  .github/workflows/regression-scheduled.yml
  .github/workflows/setup-cache.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-e2e-smoke.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration-optimized.yml
  .github/workflows/test-regression.yml
  .github/workflows/test-unit-backend.yml
  .github/workflows/test-unit-frontend.yml
  scripts-golden/local_test_passport.py
Due: none

fix: 扩展工作流分支覆盖范围
  .github/workflows/pr-validation.yml
  .github/workflows/push-validation.yml
  docs/workflow/WORKFLOW_COVERAGE_FIX.md
Due: none

feat: 建立工作流持续验证流程
  .github/workflows/workflow-validation-monitor.yml
  .husky/pre-commit-workflow-validation
  .workflow-validation-report.json
  docs/workflow/CONTINUOUS_VALIDATION.md
  scripts/workflow-continuous-validation.sh
Due: none

fix: 修复workflow-validation-monitor中act安装路径问题
  .github/workflows/workflow-validation-monitor.yml
Due: none

fix: 扩展工作流分支覆盖范围 (#151)
  .github/workflows/pr-validation.yml
  .github/workflows/push-validation.yml
  .github/workflows/workflow-validation-monitor.yml
  .husky/pre-commit-workflow-validation
  .workflow-validation-report.json
  docs/workflow/CONTINUOUS_VALIDATION.md
  docs/workflow/WORKFLOW_COVERAGE_FIX.md
  scripts/workflow-continuous-validation.sh
Due: none

test(workflow): verify workflow-validation-monitor CI trigger
  .github/workflows/workflow-validation-monitor.yml
Due: none

fix(workflow): add permissions for workflow-validation-monitor to comment on PRs
  .github/workflows/workflow-validation-monitor.yml
Due: none

fix: sync workflow-validation-monitor permissions to dev (#155)
  .github/workflows/deploy-production.yml
  .github/workflows/workflow-validation-monitor.yml
Due: none

refactor(docker): optimize docker-compose configuration structure
  .git-protection-config
  docker-compose.dev.yml
  docker-compose.local-ci.yml
  docker-compose.local-production.yml
  docker-compose.monitoring.yml
  docker-compose.tools.yml
  docker/env/env.local-prod.example
  docker/env/env.production.example
  docs/DOCKER_COMPOSE_GUIDE.md
Due: none

feat(deploy): add CICD deployment for Aliyun server
  .github/workflows/deploy-dev.yml
  backend/Dockerfile.prod
  docker-compose.prod-optimized.yml
  docs/DEPLOYMENT_GUIDE.md
  frontend/Dockerfile.prod
  frontend/nginx.conf
  scripts/deploy-server.sh
Due: backend, frontend

fix: resolve encoding issues in local test passport
  scripts-golden/local_test_passport.py
Due: none

fix: set UTF-8 encoding for Python output on Windows
  scripts-golden/local_test_passport.py
Due: none

feat(deploy): CICD deployment for Aliyun + Docker optimization
  .git-protection-config
  .github/workflows/deploy-dev.yml
  backend/Dockerfile.prod
  docker-compose.dev.yml
  docker-compose.local-ci.yml
  docker-compose.local-production.yml
  docker-compose.monitoring.yml
  docker-compose.prod-optimized.yml
  docker-compose.tools.yml
  docker/env/env.local-prod.example
  docker/env/env.production.example
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCKER_COMPOSE_GUIDE.md
  frontend/Dockerfile.prod
  frontend/nginx.conf
  scripts-golden/local_test_passport.py
  scripts/deploy-server.sh
Due: backend, frontend

fix(deploy): add SSH keepalive to prevent timeout
  .github/workflows/deploy-dev.yml
Due: none

fix(deploy): add SSH keepalive to prevent timeout (#157)
  .github/workflows/deploy-dev.yml
Due: none

fix(docker): correct requirements.txt path in Dockerfile.prod
  backend/Dockerfile.prod
Due: backend

fix(docker): correct requirements.txt path in Dockerfile.prod (#158)
  backend/Dockerfile.prod
Due: backend

fix(docker): use correct requirements file path (prod.txt)
  .github/workflows/deploy-dev.yml
  backend/Dockerfile.prod
Due: backend

fix(docker): use correct requirements file path (prod.txt) (#159)
  .github/workflows/deploy-dev.yml
  backend/Dockerfile.prod
Due: backend
