Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov配置文件
# 用于配置代码覆盖率报告和上传设置

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
      backend:
        target: 85%
        threshold: 2%
        flags:
          - backend
      frontend:
        target: 75%
        threshold: 2%
        flags:
          - frontend

    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  frontend:
    paths:
      - frontend/
    carryforward: false

ignore:
  - "backend/manage.py"
  - "backend/*/migrations/"
  - "backend/*/settings/"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/venv/"
  - "backend/.venv/"
  - "frontend/dist/"
  - "frontend/node_modules/"
  - "frontend/public/"
  - "frontend/src/assets/"
  - "e2e/"
  - "scripts/"
  - "docs/"
  - "*.md"
  - "*.txt"
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "Dockerfile*"
  - "docker-compose*"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

notifications:
  email:
    default:
      to:
        - admin@example.com
      threshold: 1%
      only_pulls: false
      layout: "reach, diff, flags, files, footer"

  slack:
    default:
      url: "secret:slack_webhook_url"
      threshold: 1%
      only_pulls: false
      message: |
        Coverage for {{ owner }}/{{ repo }} changed by {{ range }}% ({{ commit }})

        {{ diff.files|length }} files changed:
        {% for file in diff.files %}
        - {{ file.name }}: {{ file.coverage }}%
        {% endfor %}

fixes:
  - "backend/apps/::"
  - "frontend/src/::"

validation:
  max_report_age: 24 # 24小时
  require_ci_to_pass: yes
  notify_error: yes

ui:
  hide_density:
    - "frontend/src/assets/"
    - "backend/static/"
  hide_complexity:
    - "frontend/src/types/"
    - "backend/*/migrations/"

fix(workflows): 修复frontend缓存路径不一致的根本问题
  .github/workflows/test-unit-frontend.yml
Due: none

fix(workflows): 修复最后两个关键错误，实现原子化架构完全成功
  .github/workflows/quality-security.yml
  .github/workflows/test-unit-frontend.yml
Due: none

fix(tests): 修复Login.vue测试失败和security-scan grep退出码问题
  .github/workflows/quality-security.yml
  frontend/src/views/Login.spec.ts
Due: frontend

fix: 修复e2e/global-teardown.ts的语法错误和逻辑优化
  e2e/global-teardown.ts
  e2e/package.json
Due: none

chore: 更新项目配置和依赖
  .cursorrules
  package-lock.json
  package.json
Due: none

fix: 修复GitHub Actions前端集成测试Jest依赖缺失和Vue配置问题
  .github/workflows/test-integration.yml
  frontend/.gitignore
  frontend/babel.config.cjs
  frontend/jest.config.cjs
  frontend/package.json
  frontend/tests/global-setup.js
  frontend/tests/setup.js
  package-lock.json
Due: frontend

fix: 添加vue-demi依赖解决前端构建失败问题
  frontend/package.json
Due: frontend

fix: 将GitHub Actions前端测试从Jest改为Vitest - 完美解决Vue3测试问题
  .cursor/rules.md
  .cursorrules
  frontend/babel.config.cjs
  frontend/jest.config.cjs
  frontend/jest.config.js.backup
  frontend/temp_jest.config.js
  frontend/tests/global-setup.js
  frontend/tests/reports/junit.xml
  frontend/tests/setup.js
  package-lock.json
Due: frontend

fix: 修复GitHub Actions前端测试问题 - 使用Vitest替代Jest
  .github/workflows/on-merge-dev.yml
  .github/workflows/on-push-feature.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration.yml
  frontend/tests/reports/junit.xml
Due: frontend

feat: 彻底消除前端测试技术债务 - 统一使用Vitest
  .github/workflows/on-merge-dev.yml
  .github/workflows/on-push-feature.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-integration.yml
  frontend/babel.config.cjs
  frontend/jest.config.cjs
  frontend/jest.config.coverage.js
  frontend/jest.config.js.backup
  frontend/package.json
  frontend/temp_jest.config.js
  frontend/tests/examples/feature-mapping-demo.test.js
  frontend/tests/reports/junit.xml
  frontend/tests/setup.js
  frontend/tests/unit/vitest.config.ts
  frontend/tests/verify-coverage.js
  package-lock.json
Due: frontend

feat: 优化pre-commit检查顺序提升开发效率
  .pre-commit-config.yaml
  docs/technical/BACKEND_CLEANUP_SUGGESTIONS.md
  docs/technical/CODE_OF_CONDUCT.md
  docs/technical/CONTRIBUTING.md
  docs/technical/PRECOMMIT_ORDER_OPTIMIZATION.md
  docs/technical/README.md
  docs/technical/SECURITY.md
  docs/technical/TECH_DEBT_CLEANUP_SUMMARY.md
Due: none

fix: 添加MySQL客户端安装确保后端测试完整运行
  .github/workflows/test-unit-backend.yml
Due: none

fix: 修复GitHub Actions工作流问题
  .github/workflows/branch-protection.yml
  .github/workflows/on-merge-dev.yml
  .github/workflows/quality-security.yml
  .github/workflows/test-unit-backend.yml
  .github/workflows/test-unit-frontend.yml
Due: none

fix: 修复集成测试数据库迁移问题
  .github/workflows/test-integration.yml
Due: none

fix: 修复Act环境集成测试失败问题
  .github/workflows/test-integration.yml
Due: none

fix: 解决Django测试数据库生命周期问题
  .github/workflows/test-integration.yml
Due: none

fix: 修复Redis客户端和API路径问题
  .github/workflows/test-integration.yml
Due: none

fix: 修复Redis客户端检查和错误处理
  .github/workflows/test-integration.yml
Due: none

fix: 修复E2E烟雾测试服务器启动问题
  .github/workflows/test-e2e-smoke.yml
Due: none

fix: 修复security-scan工作流的npm audit ENOWORKSPACES错误
  .github/workflows/quality-security.yml
Due: none

fix(ci): resolve npm audit ENOWORKSPACES and E2E smoke test issues
  .github/workflows/on-merge-dev.yml
  e2e/tests/app.spec.ts
  e2e/tests/health.spec.ts
Due: none

chore(e2e): revert MySQL health check and finalize smoke test fixes
  .github/workflows/test-e2e-smoke.yml
Due: none

fix(ci): resolve GitHub Actions workflow failures
  .cursorrules
  .github/workflows/quality-security.yml
  .github/workflows/test-e2e-smoke.yml
  e2e/test-results.json
  frontend-audit-official.json
  frontend-audit-working.json
  frontend/frontend-audit-test.json
  frontend/npm-audit-fix.json
  frontend/npm-audit.json
Due: frontend

fix(e2e): improve vue-tsc dependency verification
  .github/workflows/test-e2e-smoke.yml
Due: none

fix(workflows): fix critical branch protection and test failures
  .cursorrules
  .cursorrules-test
  .github/workflows/on-pr.yml
  .github/workflows/quality-coverage.yml
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-regression.yml
  docs/BRANCH_PROTECTION_STRATEGY.md
  docs/CRITICAL_BRANCH_PROTECTION_ANALYSIS.md
  docs/URGENT_FIXES_PLAN.md
Due: none

� 系统性修复CI/CD流程完成 - 核心功能验证
  .cursorrules
  .github/workflows/branch-protection.yml
  .github/workflows/on-merge-dev.yml
  .github/workflows/test-e2e.yml
  backend/tests/test_apps_urls.py
  backend/tests/test_common_pagination.py
  backend/tests/test_common_views.py
  backend/tests/test_users_models.py
  docs/COMPREHENSIVE_FIX_SUMMARY.md
  docs/FAQ.md
  docs/VALIDATION_ARCHITECTURE_REDESIGN.md
  e2e/global-teardown.ts
  e2e/package.json
  features.json
  package-lock.json
Due: backend

fix(deps): resolve ESLint dependency issues for naming convention checks
  .cursorrules
  .github/workflows/branch-protection.yml
  .github/workflows/on-merge-dev.yml
  .github/workflows/test-e2e.yml
  backend/tests/test_apps_urls.py
  backend/tests/test_common_pagination.py
  backend/tests/test_common_views.py
  backend/tests/test_users_models.py
  docs/COMPREHENSIVE_FIX_SUMMARY.md
  docs/FAQ.md
  docs/VALIDATION_ARCHITECTURE_REDESIGN.md
  e2e/global-teardown.ts
  e2e/package.json
  features.json
  frontend/package.json
  package-lock.json
  package.json
Due: backend, frontend

docs(faq): clean up merge conflict markers and apply formatting
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
Due: none

fix(ci): resolve unit tests failures and apply formatting
  .cursorrules
  backend/tests/test_common_pagination.py
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  frontend/package.json
  package-lock.json
Due: backend, frontend

fix(dev): emergency fixes for post-merge validation
  backend/tests/quick.py
  scripts/production_config.py
Due: backend

fix(dev): final post-merge validation fixes
  backend/tests/quick.py
  scripts/production_config.py
Due: backend

fix(dev): resolve remaining post-merge validation issues
  backend/.env.local.bak
Due: backend

fix(logs): add Django logs directory with .gitkeep
  backend/logs/.gitkeep
Due: backend

feat(ci): implement workflow performance optimization
  .github/actions/setup-cached-env/action.yml
  .github/workflows/fast-validation.yml
  .github/workflows/on-merge-dev-optimized.yml
  docker-compose.test.yml
Due: none

fix(ci): resolve optimized workflow configuration issues
  .github/actions/setup-fast-env/action.yml
  .github/workflows/fast-validation.yml
  .github/workflows/on-merge-dev-optimized.yml
Due: none

fix(ci): resolve Django config and workflow script issues
  .github/workflows/fast-validation.yml
  backend/bravo/settings/base.py
Due: backend

fix(ci): add pytest dependencies and format fixes
  .cursorrules
  .github/actions/setup-cached-env/action.yml
  .github/actions/setup-fast-env/action.yml
  .github/workflows/fast-validation.yml
  .github/workflows/feature-map.yml
  .github/workflows/on-merge-dev-optimized.yml
  docker-compose.test.yml
Due: none

fix(ci): 修复工作流脚本错误和依赖问题 (#15)
  .cursorrules
  .github/actions/setup-cached-env/action.yml
  .github/actions/setup-fast-env/action.yml
  .github/workflows/fast-validation.yml
  .github/workflows/feature-map.yml
  .github/workflows/on-merge-dev-optimized.yml
  backend/bravo/settings/base.py
  docker-compose.test.yml
Due: backend

fix(ci): correct YAML syntax and remove duplicate pip install
  .cursorrules
  .github/workflows/feature-map.yml
Due: none
