Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(settings): 修复STATIC_ROOT路径错误 (#202)
  backend/bravo/settings/production.py
Due: backend

fix(ci): 修复部署工作流顺序问题
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix(ci): 修复部署工作流顺序问题 (#203)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

test: trigger auto deploy workflow
  .trigger
Due: none

test: trigger auto deploy workflow (#204)
  .trigger
Due: none

test(ci): 验证自动部署流程
  backend/README.md
Due: backend

test(ci): 验证自动部署流程 (#205)
  backend/README.md
Due: backend

chore: 合并 dev 到 main - 工作流修复和静态文件修复 (#206)
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  .trigger
  backend/README.md
  backend/bravo/settings/production.py
  docker-compose.prod.yml
  docs/ALIYUN_REGISTRY_SETUP.md
  docs/DEPLOYMENT.md
  docs/DOMAIN_QUICK_START.md
  docs/DOMAIN_SETUP_GUIDE.md
  frontend/nginx.domain-dev.conf
  frontend/nginx.domain-production.conf
  frontend/nginx.ssl.conf
  scripts/fix-ssl-issue.sh
  scripts/setup-domain-on-server.sh
  scripts/setup-ssl-webroot.sh
  scripts/setup-ssl.sh
Due: backend, frontend

chore: 清理测试文件
  .trigger
  backend/README.md
Due: backend

chore: 清理测试文件 (#207)
  .trigger
  backend/README.md
Due: backend

fix(deploy): 生产环境使用强制Git更新
  .github/workflows/deploy-production.yml
Due: none

fix(deploy): 生产环境使用强制Git更新 (#209)
  .github/workflows/deploy-production.yml
Due: none

fix(deploy): 生产环境Git强制更新修复 (#210)
  .github/workflows/deploy-production.yml
Due: none

fix(ssl): 修复生产环境SSL证书域名不匹配
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix(ssl): 修复生产环境SSL证书域名不匹配 (#211)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix(ssl): 修复生产环境SSL证书域名不匹配 (#213)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

feat: 添加部署工作流文件到构建触发路径
  .github/workflows/build-and-push-images.yml
Due: none

feat: 工作流文件修改自动触发构建 (#214)
  .github/workflows/build-and-push-images.yml
  .trigger
  backend/README.md
Due: backend

feat(deployment): add comprehensive rollback mechanism
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-production.yml
  .github/workflows/list-deployment-versions.yml
  .github/workflows/rollback-production.yml
Due: none

feat(deployment): add comprehensive rollback mechanism (#215)
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-production.yml
  .github/workflows/list-deployment-versions.yml
  .github/workflows/rollback-production.yml
Due: none

test(deployment): add rollback mechanism test with intentional failure
  .github/workflows/deploy-dev.yml
Due: none

test(deployment): add rollback mechanism test with intentional failure (#216)
  .github/workflows/deploy-dev.yml
Due: none

test: trigger rollback test deployment
  .trigger-rollback-test
  backend/README.md
Due: backend

test: trigger rollback test deployment (#217)
  .trigger-rollback-test
  backend/README.md
Due: backend

chore: remove rollback test code and restore normal deployment
  .trigger-rollback-test
  docs/DEPLOYMENT_ROLLBACK_IMPLEMENTATION.md
Due: none

chore: remove rollback test code and restore normal deployment (#218)
  .trigger-rollback-test
  docs/DEPLOYMENT_ROLLBACK_IMPLEMENTATION.md
Due: none

feat(deployment): 部署回滚机制上线生产环境 (已解决冲突) (#220)
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  .github/workflows/list-deployment-versions.yml
  .github/workflows/rollback-production.yml
  backend/README.md
  docs/DEPLOYMENT_ROLLBACK_IMPLEMENTATION.md
  docs/ROLLBACK_MECHANISM_TEST_REPORT.md
Due: backend

fix(deployment): 修复生产环境健康检查301重定向问题
  .github/workflows/deploy-production.yml
Due: none

fix(deployment): 修复生产环境健康检查301重定向问题 (#221)
  .github/workflows/deploy-production.yml
Due: none

fix(deployment): 修复生产环境健康检查301重定向问题 (#221) (#222)
  .github/workflows/deploy-production.yml
Due: none

fix(nginx): 修复开发环境SSL端口配置不匹配问题
  .github/workflows/deploy-dev.yml
  docs/DEPLOYMENT_ROLLBACK_IMPLEMENTATION.md
  docs/SSL_PORT_CONFIGURATION_FIX.md
  docs/SSL_ROUTING_INVESTIGATION_REPORT.md
  frontend/nginx.domain-dev.conf
Due: frontend

feat(security): 统一Git保护机制为密码验证
  .git-protection-config
  docs/GIT_PROTECTION_SCENARIOS_ANALYSIS.md
  scripts-golden/git-guard.sh
  scripts/unify-password-protection-complete.sh
  scripts/unify-password-protection.sh
Due: none

fix(security): 修复密码配置文件格式错误
  scripts-golden/encrypted_auth_system.sh
Due: none

chore(security): 将密码配置添加到gitignore
  .auth-config
  .gitignore
Due: none

fix(security): 修复密码输入被提示信息污染的Bug
  scripts-golden/timeout_input_helper.sh
Due: none

chore: 删除临时工具脚本
  scripts/unify-password-protection-complete.sh
  scripts/unify-password-protection.sh
Due: none

feat(security): 统一Git保护机制为密码验证 (#225)
  .auth-config
  .git-protection-config
  .gitignore
  docs/GIT_PROTECTION_SCENARIOS_ANALYSIS.md
  docs/ROLLBACK_MECHANISM_TEST_REPORT.md
  scripts-golden/encrypted_auth_system.sh
  scripts-golden/git-guard.sh
  scripts-golden/timeout_input_helper.sh
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
  frontend: any of: frontend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
