Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(ci): correct YAML syntax and remove duplicate pip install (#16)
  .cursorrules
  .github/workflows/feature-map.yml
Due: none

fix(ci): final fix for fake success issue
  .github/workflows/dev-merge.yml
  .github/workflows/feature-map.yml
  .github/workflows/main-release.yml
  .github/workflows/on-merge-dev.yml
  REAL_FIX_PLAN.md
  WORKFLOW_CLEANUP_PLAN.md
Due: none

fix(ci): resolve pre-commit check issues for workflow fix
  .github/workflows/on-merge-dev.yml
  .pre-commit-config.yaml
  backend/tests/quick.py
Due: backend

fix(docs): move documentation files to docs directory
  docs/REAL_FIX_PLAN.md
  docs/WORKFLOW_CLEANUP_PLAN.md
Due: none

fix(cleanup): remove documentation files from root directory
  .pre-commit-config.yaml
  REAL_FIX_PLAN.md
  WORKFLOW_CLEANUP_PLAN.md
Due: none

fix(ci): correct YAML syntax in feature-map workflow
  .github/workflows/feature-map.yml
Due: none

fix(dev): 一次性修复dev分支所有CI/CD问题
  backend/apps/feature_flags/__init__.py
  backend/apps/feature_flags/apps.py
  backend/apps/feature_flags/models.py
  backend/apps/feature_flags/urls.py
  backend/apps/feature_flags/views.py
  backend/bravo/settings/base.py
  frontend/src/shims-vue.d.ts
  frontend/src/views/Login.spec.ts
  package.json
Due: backend, frontend

fix(ci): 修复npm prepare脚本导致的所有CI工作流失败
  package.json
Due: none

fix(security): 修复安全漏洞 - 升级vulnerable依赖
  frontend/package.json
  package-lock.json
Due: frontend

fix(test): 修复Login.spec.ts中Element Plus组件stubs命名问题
  frontend/src/views/Login.spec.ts
Due: frontend

fix(deps): 修复测试环境缺少Django调试工具依赖
  backend/requirements/test.txt
Due: backend

fix(ci): 第6轮修复 - Django AppRegistryNotReady & ESLint命名问题
  backend/pyproject.toml
  backend/pytest.ini
  frontend/src/views/Login.spec.ts
Due: backend, frontend

fix(ci): 第7轮修复 - 降低覆盖率阈值 & 修复前端测试选择器
  backend/pyproject.toml
  frontend/src/views/Login.spec.ts
Due: backend, frontend

fix(test): 第8轮修复 - 纠正前端测试选择器
  frontend/src/views/Login.spec.ts
Due: frontend

test(frontend): mrefactorm - mstring stubs + *-stub assertionsm 0m(Login.spec.ts)m
  frontend/src/views/Login.spec.ts
Due: frontend

test(frontend): use data-testid selectors + string stubs for stability (Login.spec.ts)
  frontend/src/views/Login.spec.ts
Due: frontend

test(frontend): remove brittle h2 text assertion to avoid empty DOMWrapper
  frontend/src/views/Login.spec.ts
Due: frontend

test(frontend): 打印Login组件实际DOM结构用于调试
  frontend/src/views/Login.spec.ts
Due: frontend

fix(test): 关键突破 - 不stub el-card避免内容清空
  frontend/src/views/Login.spec.ts
Due: frontend

fix(test): 修复cardSelector - 使用标签选择器而非类选择器
  frontend/src/views/Login.spec.ts
Due: frontend

fix(test): 关键修复 - 不stub el-form-item避免button丢失
  frontend/src/views/Login.spec.ts
Due: frontend

fix(test): 终极修复 - 只stub叶子组件，容器组件真实渲染
  frontend/src/views/Login.spec.ts
Due: frontend

fix(test): 回退到第5轮成功版本 - 恢复自定义模板stubs配置
  frontend/src/views/Login.spec.ts
Due: frontend

docs: 记录Vue组件命名修复陷阱教训到开发规范
  .cursorrules
Due: none

fix(test): 第8轮修复 - 纠正前端测试选择器 (#25)
  .cursorrules
  backend/pyproject.toml
  backend/pytest.ini
Due: backend

fix(ci): 修复dev分支TypeScript类型检查失败
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/views/Blog.vue
  frontend/src/views/BlogDetail.vue
  frontend/src/views/Login.vue
  package-lock.json
Due: frontend

docs(faq): 记录Vue.js TypeScript类型检查失败问题和解决方案
  docs/02_test_report/feature-test-map.json
  docs/02_test_report/feature-test-map.md
  package-lock.json
  package.json
Due: none

test: 验证dev分支TypeScript修复效果
  docs/verification/typescript-fix-verification.md
Due: none

fix(ci): 修复dev分支post-merge工作流失败
  .github/workflows/fast-validation.yml
  .github/workflows/feature-map.yml
  .github/workflows/on-merge-dev.yml
  .github/workflows/on-push-dev.yml
  docs/FAQ.md
Due: none

fix(ci): 修复Feature Coverage工作流文件路径问题
  .github/workflows/feature-map.yml
Due: none

fix(deps): 添加缺失的flake8依赖到test.txt
  backend/requirements/test.txt
Due: backend

fix(deps): 添加缺失的flake8依赖到test.txt (#29)
  backend/requirements/test.txt
Due: backend

fix(ci): 修复后端lint检查中虚拟环境激活问题
  .github/workflows/fast-validation.yml
Due: none

fix(ci): 修复后端lint检查中虚拟环境激活问题 (#30)
  .github/workflows/fast-validation.yml
Due: none

fix(ci): flake8排除虚拟环境目录避免检查第三方库
  .github/workflows/fast-validation.yml
Due: none

fix(ci): flake8排除虚拟环境目录避免检查第三方库 (#31)
  .github/workflows/fast-validation.yml
Due: none

fix(ci): 修复E2E和Regression测试的依赖和数据库问题
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-regression.yml
Due: none

fix(ci): 修复E2E和Regression测试的依赖和数据库问题 (#32)
  .github/workflows/test-e2e-full.yml
  .github/workflows/test-regression.yml
Due: none

fix(ci): 修复E2E测试Build Frontend步骤的依赖问题
  .github/workflows/test-e2e-full.yml
Due: none

fix(ci): 修复E2E测试Build Frontend步骤的依赖问题 (#33)
  .github/workflows/test-e2e-full.yml
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
  frontend: any of: frontend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
