Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(dev): 配置IDE自动格式化，优化pre-commit提交流程
  .vscode/extensions.json
  .vscode/settings.json
  docs/TROUBLESHOOTING/pre-commit-optimization.md
Due: none

fix(dev): 更新扩展列表，移除不存在的扩展ID
  scripts/install-vscode-extensions.sh
Due: none

feat(users): 优化邮件模板、Celery任务与错误处理
  .taskmaster/tasks/tasks.json
  backend/apps/users/tasks.py
  backend/apps/users/views.py
  backend/templates/users/emails/password_reset.html
  backend/templates/users/emails/password_reset.txt
Due: backend

feat(users): 优化邮件模板、Celery任务与错误处理 + test(auth): 添加Captcha组件测试
  .git-protection-config
  .taskmaster/tasks/tasks.json
  docs/SERVER_INIT_GUIDE.md
  e2e/test-results.json
  frontend/src/components/auth/__tests__/Captcha.spec.ts
  scripts/fix-git-clone.sh
  scripts/init-server.sh
Due: frontend

feat(auth): 实现Captcha组件（Green阶段）
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/Captcha.vue
Due: frontend

feat(auth): 实现PasswordStrength组件（Green阶段）
  .taskmaster/tasks/tasks.json
  backend/coverage.json
  frontend/src/components/auth/PasswordStrength.vue
  frontend/src/components/auth/__tests__/PasswordStrength.spec.ts
Due: backend, frontend

refactor(auth): 优化认证UI组件（重构阶段）
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/Captcha.vue
  frontend/src/components/auth/PasswordStrength.vue
Due: frontend

test(auth): 添加Pinia Auth Store测试（Red阶段）
  .taskmaster/tasks/tasks.json
  e2e/test-results.json
  frontend/src/stores/__tests__/auth.spec.ts
Due: frontend

feat(auth): 定义Auth Store状态接口与基本结构（Green阶段）
  .taskmaster/tasks/tasks.json
  frontend/src/stores/__tests__/auth.spec.ts
  frontend/src/stores/auth.ts
Due: frontend

feat(auth): 实现Auth Store的登录、注册和登出功能
  .taskmaster/tasks/tasks.json
  frontend/src/stores/__tests__/auth.spec.ts
  frontend/src/stores/auth.ts
  frontend/tests/setup.ts
Due: frontend

refactor(auth): 优化Auth Store的模块化与错误处理
  .taskmaster/tasks/tasks.json
  e2e/test-results.json
  frontend/src/stores/auth.ts
Due: frontend

feat(auth): 创建LoginForm骨架并集成FloatingInput
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
Due: frontend

feat(auth): 集成Captcha组件与基础表单结构
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
Due: frontend

feat(auth): 实现表单验证逻辑
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
Due: frontend

feat(auth): 集成Pinia Auth Store登录动作与错误处理
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/Captcha.vue
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
Due: frontend

test(auth): 编写组件测试与表单重构优化
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
Due: frontend

feat(auth): 创建RegisterForm基础结构与组件集成
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
Due: frontend

feat(auth): 实现auth store注册逻辑与错误处理
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
Due: frontend

test(auth): 优化表单交互、错误处理与测试验证
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
Due: frontend

feat(auth): 开发UserPreview组件及其单元测试
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/UserPreview.vue
  frontend/src/components/auth/__tests__/UserPreview.spec.ts
Due: frontend

feat(auth): 实现auth store的预验证状态和动作及其单元测试
  .taskmaster/tasks/tasks.json
  frontend/src/stores/__tests__/auth.spec.ts
  frontend/src/stores/auth.ts
Due: frontend

feat(auth): 将UserPreview集成到LoginForm并触发预验证
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/__tests__/LoginForm.spec.ts
Due: frontend

refactor(auth): 优化UserPreview组件动画与store交互
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/UserPreview.vue
Due: frontend

fix(scripts): 修复Scripts-Golden保护脚本误报问题
  .compliance/checkers/code_checker.py
  .compliance/checkers/test_checker.py
  .taskmaster/tasks/tasks.json
  e2e/tests/auth/test-login-preview.spec.ts
  scripts/protect_golden_scripts.py
Due: none

chore(task): 更新任务15.5状态为done
  .taskmaster/tasks/tasks.json
Due: none

chore: 更新自动生成文件
  .git-protection-config
  e2e/test-results.json
Due: none

chore(task): 更新任务15状态为done
  .taskmaster/tasks/tasks.json
Due: none

test(auth): 编写邮箱验证E2E测试（Red阶段）
  e2e/tests/auth/test-email-verification.spec.ts
Due: none

chore(task): 更新任务16.1状态为done
  .taskmaster/tasks/tasks.json
Due: none

feat(auth): 实现密码重置相关的Auth Store Action
  frontend/src/stores/__tests__/auth.spec.ts
  frontend/src/stores/auth.ts
Due: frontend

chore(task): 更新任务14.1状态为done
  .taskmaster/tasks/tasks.json
  e2e/test-results.json
Due: none

feat(auth): 实现发送密码重置邮件表单组件
  frontend/src/components/auth/PasswordResetForm.vue
  frontend/src/components/auth/__tests__/PasswordResetForm.spec.ts
Due: frontend

chore(task): 更新任务14.2状态为done
  .cursor/mcp.json
  .taskmaster/tasks/tasks.json
Due: none

feat(auth): 实现重置密码页面/组件
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/components/auth/__tests__/ResetPasswordForm.spec.ts
Due: frontend

chore(task): 更新任务14.4状态为done
  .taskmaster/tasks/tasks.json
Due: none

test(e2e): 添加密码找回流程E2E测试
  .taskmaster/tasks/tasks.json
  e2e/tests/auth/test-password-reset.spec.ts
Due: none

chore(task): 更新任务14.5状态为done
  .taskmaster/tasks/tasks.json
Due: none

feat(auth): 实现邮箱验证相关的Auth Store Action
  .taskmaster/tasks/tasks.json
  frontend/src/stores/__tests__/auth.spec.ts
  frontend/src/stores/auth.ts
Due: frontend

chore(task): 更新任务16.2状态为done
  .taskmaster/tasks/tasks.json
Due: none

feat(auth): 实现注册成功后的邮箱验证UI提示和重发入口 (TDD)
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
Due: frontend

Path conditions:
  backend: any of: backend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
  frontend: any of: frontend/, but not: backend/manage.py, backend/*/migrations/, backend/*/settings/, backend/*/wsgi.py, backend/*/asgi.py, backend/venv/, backend/.venv/, frontend/dist/, frontend/node_modules/, frontend/public/, frontend/src/assets/, e2e/, scripts/, docs/, *.md, *.txt, *.yml, *.yaml, *.json, Dockerfile*, docker-compose*
