Repository Layneliang24/Bravo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov配置文件
# 用于配置代码覆盖率报告和上传设置

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
      backend:
        target: 85%
        threshold: 2%
        flags:
          - backend
      frontend:
        target: 75%
        threshold: 2%
        flags:
          - frontend

    patch:
      default:
        target: 70%
        threshold: 5%
        if_not_found: success

flags:
  backend:
    paths:
      - backend/
    carryforward: false
  frontend:
    paths:
      - frontend/
    carryforward: false

ignore:
  - "backend/manage.py"
  - "backend/*/migrations/"
  - "backend/*/settings/"
  - "backend/*/wsgi.py"
  - "backend/*/asgi.py"
  - "backend/venv/"
  - "backend/.venv/"
  - "frontend/dist/"
  - "frontend/node_modules/"
  - "frontend/public/"
  - "frontend/src/assets/"
  - "e2e/"
  - "scripts/"
  - "docs/"
  - "*.md"
  - "*.txt"
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - "Dockerfile*"
  - "docker-compose*"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

notifications:
  email:
    default:
      to:
        - admin@example.com
      threshold: 1%
      only_pulls: false
      layout: "reach, diff, flags, files, footer"

  slack:
    default:
      url: "secret:slack_webhook_url"
      threshold: 1%
      only_pulls: false
      message: |
        Coverage for {{ owner }}/{{ repo }} changed by {{ range }}% ({{ commit }})

        {{ diff.files|length }} files changed:
        {% for file in diff.files %}
        - {{ file.name }}: {{ file.coverage }}%
        {% endfor %}

fixes:
  - "backend/apps/::"
  - "frontend/src/::"

validation:
  max_report_age: 24 # 24小时
  require_ci_to_pass: yes
  notify_error: yes

ui:
  hide_density:
    - "frontend/src/assets/"
    - "backend/static/"
  hide_complexity:
    - "frontend/src/types/"
    - "backend/*/migrations/"

feat(auth): 实现邮箱验证链接处理页面及逻辑 (TDD)
  .taskmaster/tasks/tasks.json
  e2e/test-results.json
  frontend/src/router/index.ts
  frontend/src/views/VerifyEmailView.vue
  frontend/src/views/__tests__/VerifyEmailView.spec.ts
Due: frontend

feat(auth): 优化邮箱验证的用户提示和页面跳转逻辑 (TDD)
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/__tests__/RegisterForm.spec.ts
  frontend/src/views/VerifyEmailView.vue
  frontend/src/views/__tests__/VerifyEmailView.spec.ts
Due: frontend

docs(auth): 完成初始UI/UX视觉验收与环境准备
  .taskmaster/tasks/tasks.json
  backend/coverage.json
  docs/ui-ux-audit-REQ-2025-003.md
Due: backend

feat(ui): 应用品牌配色方案
  .taskmaster/tasks/tasks.json
  frontend/src/assets/styles/brand-colors.css
  frontend/src/components/auth/FloatingInput.vue
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/PasswordResetForm.vue
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/main.ts
  frontend/src/views/VerifyEmailView.vue
Due: frontend

feat(ui): 优化悬浮式输入框动画效果
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/FloatingInput.vue
Due: frontend

feat(ui): 实现响应式布局与组件淡入动画
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/UserPreview.vue
  frontend/src/views/Login.vue
Due: frontend

refactor(ui): 优化CSS结构与样式一致性
  .taskmaster/tasks/tasks.json
  frontend/src/assets/styles/auth-common.css
  frontend/src/components/auth/Captcha.vue
  frontend/src/components/auth/DefaultAvatar.vue
  frontend/src/components/auth/PasswordStrength.vue
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/UserPreview.vue
  frontend/src/main.ts
Due: frontend

test: 修复前端测试失败问题
  .taskmaster/tasks/tasks.json
  backend/coverage.json
  frontend/src/router/index.spec.ts
  frontend/src/views/Login.spec.ts
Due: backend, frontend

refactor(backend): 优化views.py代码结构
  .taskmaster/tasks/tasks.json
  backend/apps/users/views.py
  backend/coverage.json
Due: backend

refactor(frontend): 提取共享验证函数和工具函数
  .taskmaster/tasks/tasks.json
  frontend/src/components/auth/LoginForm.vue
  frontend/src/components/auth/PasswordResetForm.vue
  frontend/src/components/auth/RegisterForm.vue
  frontend/src/components/auth/ResetPasswordForm.vue
  frontend/src/utils/debounce.ts
  frontend/src/utils/validation.ts
Due: frontend

docs: 添加REQ-2025-003文件追溯图
  .taskmaster/tasks/tasks.json
  docs/REQ-2025-003-traceability-diagram.md
  e2e/test-results.json
Due: none

docs: 添加REQ-2025-003文件追溯图到PRD目录
  docs/00_product/requirements/REQ-2025-003-user-login/REQ-2025-003-traceability-diagram.md
Due: none

添加API契约文档及其说明，以及注意事项
  backend/bravo/settings/base.py
  backend/bravo/urls.py
  docs/01_guideline/api-contracts/README.md
  docs/01_guideline/api-contracts/REQ-2025-003-user-login/REQ-2025-003-user-login-api.yaml
Due: backend

[REQ-2025-003] Task-0 更新TXYUN部署配置
  .git-protection-config
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  e2e/test-results.json
Due: none

[REQ-2025-003] Task-0 补充通行证前端与E2E校验
  scripts-golden/local_test_passport.py
Due: none

Revert "[REQ-2025-003] Task-0 补充通行证前端与E2E校验"
  scripts-golden/local_test_passport.py
Due: none

[REQ-2025-003] Fix frontend build: tsconfig paths and env types
  frontend/src/env.d.ts
  frontend/tsconfig.json
Due: frontend

[REQ-2025-003] Fix server-hooks merge push check
  .github/workflows/server-hooks-simulation.yml
Due: none

[REQ-2025-003] Fix Captcha onClick type error
  .cursor/rules_backup/README.md
  .cursor/rules_backup/REFACTOR_DISCUSSION.md
  .cursor/rules_backup/REFACTOR_PLAN.md
  .cursor/rules_backup/VERIFICATION_REPORT.md
  .cursor/rules_backup/code_quality.mdc
  .cursor/rules_backup/compliance_workflow.mdc
  .cursor/rules_backup/directory_guard.mdc
  .cursor/rules_backup/django_split.mdc
  .cursor/rules_backup/golden_test_protection.mdc
  .cursor/rules_backup/lifecycle/ci-cd.mdc
  .cursor/rules_backup/lifecycle/debugging.mdc
  .cursor/rules_backup/lifecycle/deployment.mdc
  .cursor/rules_backup/lifecycle/development.mdc
  .cursor/rules_backup/lifecycle/prd-design.mdc
  .cursor/rules_backup/lifecycle/pre-commit.mdc
  .cursor/rules_backup/lifecycle/supplementary.mdc
  .cursor/rules_backup/lifecycle/task-execution.mdc
  .cursor/rules_backup/lifecycle/task-generation.mdc
  .cursor/rules_backup/lifecycle/testing.mdc
  .cursor/rules_backup/prd-refinement.md
  .cursor/rules_backup/project_startup.mdc
  .cursor/rules_backup/roles/architect.mdc
  .cursor/rules_backup/roles/developer.mdc
  .cursor/rules_backup/roles/prd-designer.mdc
  .cursor/rules_backup/roles/tester.mdc
  .cursor/rules_backup/security_scan.mdc
  .cursor/rules_backup/taskmaster/dev_workflow.mdc
  .cursor/rules_backup/taskmaster/hamster.mdc
  .cursor/rules_backup/taskmaster/taskmaster.mdc
  .cursor/rules_backup/test_coverage.mdc
  .cursor/rules_backup/v4/v4-contract-driven.mdc
  .cursor/rules_backup/v4/v4-core-principles.mdc
  .cursor/rules_backup/v4/v4-traceability.mdc
  .cursor/rules_backup/vue_component.mdc
  .git-protection-config
  backend/coverage.json
  frontend/src/components/auth/Captcha.vue
Due: backend, frontend

[REQ-2025-003] Add SSH connection diagnostics to deploy workflow
  .github/workflows/deploy-dev.yml
Due: none

fix(deploy): 修复dev部署脚本的Git和Docker权限问题
  .github/workflows/deploy-dev.yml
  backend/coverage.json
Due: backend

fix(deploy): 增强目录权限修复逻辑，修复git clone权限问题
  .github/workflows/deploy-dev.yml
  backend/coverage.json
Due: backend

chore: update files and add deployment docs
  .github/workflows/deploy-dev.yml
  backend/coverage.json
  docs/deployment/github-actions-ip-whitelist.md
  docs/deployment/github-secrets-config.md
  frontend/src/views/Register.vue
Due: backend, frontend

fix(deploy): 修复Git TLS连接错误和HEAD不是最新问题
  .github/workflows/deploy-dev.yml
  backend/coverage.json
Due: backend

fix(deploy): 修复REGISTRY配置和确保使用dev分支最新代码
  .github/workflows/deploy-dev.yml
Due: none

fix(deploy): 修复版本缓存问题，确保使用最新dev分支代码
  .github/workflows/deploy-dev.yml
  backend/coverage.json
Due: backend

fix(deploy): 修复docker-compose命令找不到问题
  .github/workflows/deploy-dev.yml
Due: none

refactor(deploy): 大幅简化部署脚本，恢复到简洁版本
  .github/workflows/deploy-dev.yml
  backend/coverage.json
  docker-compose.prod.yml
Due: backend

fix(deploy): 修复dev环境部署问题
  .github/workflows/deploy-dev.yml
  docs/analysis/deploy-issues-analysis.md
Due: none

feat(hooks): 添加环境变量支持绕过通行证检查
  .husky/pre-push
Due: none

fix(deploy): 修复workflow_run触发时使用错误分支的问题
  .github/workflows/deploy-dev.yml
  docs/analysis/workflow-run-headbranch-issue.md
Due: none

feat(ci/cd): 全面优化工作流架构和镜像标签策略
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  docs/analysis/workflow-architecture-improvements.md
Due: none

fix(ci/cd): 修复workflow_run使用错误分支的根本问题
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix(ci/cd): 恢复workflow_run机制，确保工作流文件在main分支
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix(ci/cd): 恢复workflow_run机制，确保工作流文件在main分支 (#296)
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
Due: none

fix(ci/cd): 合并workflow_run修复到main分支 (#297)
  .github/workflows/build-and-push-images.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-production.yml
  .husky/pre-push
  docs/analysis/deploy-issues-analysis.md
  docs/analysis/workflow-architecture-improvements.md
  docs/analysis/workflow-run-headbranch-issue.md
  docs/deployment/github-actions-ip-whitelist.md
  docs/deployment/github-secrets-config.md
  frontend/src/views/Register.vue
Due: frontend

fix(deploy): 修复bash语法错误，添加缺失的fi语句
  .github/workflows/deploy-dev.yml
Due: none
